@media screen and (max-width: 1024px) {
div.menu ul li a{padding:0 20px}
}
@media screen and (max-width: 960px) {
div.header{display:block}
nav#menu{display:none}



div#header .content_bn{text-align:center}

.info_header span{margin:0;line-height:20px}
.info_header{position:relative;top:auto;right:auto;width:100%;text-align:center;padding:5px;}

.info_header .ten_cty {width:100%;text-align:center;}
div#lang {margin:0px;width:100%;}

div.link_lienket {display: none;}

div#header .banner {margin: 0px;}


.top_header .content {padding: 5px;}

div#header .col_banner , div#header .col_hotline {width: 100%;padding: 0px;}
.hotline_top {display: none;}
.diachi_top {position: relative;top: auto;right: auto;left: auto;display: inline-block;vertical-align: top;
margin: 25px 9px;
}

.hotline_m{float:right;display:block;padding-right:10px;font-size:20px;color:#FF0;font-family:UVNBaiSau_B}
div#main_content{width:100%}
div#footer{width:100%}
div#slider{width:100%;padding:0;border:none}
div#danhmuc{display:none}
div#right{width:100%}
div#left{display:none}
div#main_footer{width:100%}
div#thongke{width:100%}
div.thongke_an{display:none}
div.tt_lh{width:100%}
div.bando{width:100%}
.menu_login{display:none}
}

@media screen and (max-width: 920px) {
.box_news2{width:100%}
div.search{position:relative;top:auto;right:auto;width:100% !important;margin: 0px;border-radius: 0px;}
.item{width:calc((100% / 3) - 23px)}

div#header .logo {margin: 0px;}

div#header .content_bn {height: auto;background: none;}
.slogan_top  {display:inline-block;vertical-align:top;margin:0px;float:none;text-align: center;width: 100%;
	padding:2px; }


.box_container .content {padding: 10px;}

}
@media screen and (max-width: 700px) {

div#header .content_bn .col_bn , div#header .content_bn .col_bn2 {width: 100%;text-align: center;
	display: inline-block;padding: 0px;}

.giolam_top , .email_top {display: none;}

.content_banner{text-align:center}

.item{width:calc((100% / 2) - 23px)}

.sp_cart_top {top:10px;right: 5px;}

#main_footer .col_footer1 {width: 100%;}
#main_footer .col_footer2 {width: 50%;}

.box_news_index {font-size: 14px;}
.box_news_index .ten a {font-size: 14px;line-height: 20px;}

}
@media screen and (max-width: 603px) {

.zoom_slick{width:85%;max-width:400px;float:none;margin:auto}
.product_info{width:100%;margin-top:10px}
.gh_an{display:none}
.box_news{width:100%}
.dangky,div.dangnhap{width:100%}
.col_ft{width:100%;padding:5px}
.copy_right .c1{display:none}
.copy_right .c2{width:80%}
div#tabs ul#ultabs{padding-left:15px}
div#tabs ul#ultabs li{margin-right:15px;font-size:17px;padding-right:15px}
form#frm_dknt{float:none;display:inline-block;vertical-align:top;margin:0;text-align:center;
width: 100%;}
.col_w40,.col_w60,.col_w50,.col_w70 , .col_w33{width:100%}
.col_w30,.col_w20 , .col_w15{width:100%}

.box_first_news,#slick_tintuc_i{width:100%;padding:0;margin-bottom:10px}

.item_nb {width: calc(100% - 30px);margin: 10px 15px;}

#div_dangkynhantin {margin-top: 0px;}

.box_dv_index {width: calc(100% - 10px);margin: 5px;}


}
@media screen and (max-width: 460px) {
div.tieude_giua{font-size:18px}
.tieude_index {font-size: 22px;}

div.frm_lienhe .item_lienhe input[type='text'],div.frm_lienhe .item_lienhe textarea,div.frm_lienhe .item_lienhe input[type='password']{width:100%}
div.frm_lienhe .item_lienhe select{width:100%}
.map_description{width:100%}
.box_news a img{width:110px}
div.frm_lienhe .item_lienhe p{width:100%}
.othernews ul.phantrang{margin-left:0}
.box_news h3 a{font-size:14px}
.box_news_i{width:calc(100% - 30px)}
.item{width:calc((100% / 2) - 13px);margin:10px 5px;padding: 3px;}
.item .ten a {font-size: 15px;}
.item .sp_gia {font-size: 13px;}

.col_w30 , .col_w25{width:100%}
#main_footer .col_footer2 {width: 100%}
.img_dichvu{}
}
@media screen and (max-width: 360px) {
.dmsp-big{width:calc(100% - 20px)}

}