div#tabs
{

	width:100%;display:inline-block;vertical-align:top;
	position: relative;;
}

ul.ultabs 
{
	float: right;position: relative;margin-top: -45px;
}

ul.ultabs li
{
	display:inline-block;vertical-align:top;
    color: #333;position: relative;
    padding:2px 25px;
    margin:0px 5px;
    cursor: pointer;
    border-bottom: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
	font-family:Roboto_M;
	font-weight:normal;
}
ul.ultabs li:before {width: 10px;height: 10px;border-radius: 50%;border: solid 2px #493435;content: "";
position: absolute;left:5px;top: 5px;
}


ul.ultabs li.active , ul.ultabs li:hover
{
	color:#8C1B21;
}


div#content_tabs
{	
	border-top:none;

}

.box_content_map iframe {width: 100% !important;height: 450px !important;}

@media screen and (max-width: 720px) {
	ul.ultabs li {padding:3px 15px;font-size:16px;}
	
}
