::-webkit-scrollbar {
    background: #fff;
    width: 10px;
    height: 11px
}

::-webkit-scrollbar-thumb {
    background: #BBB
}

* {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none
}

.addthis_native_toolbox .fb-like span iframe[style] {
    width: 100% !important ;
    height: 30px !important;
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important ;
}


.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {
    width: 100% !important
}

.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {
    width: 100% !important;
}

#clickvideo {
    width: 100%;
    padding: 4px 0;
    margin: 3px 0;
    border: 1px solid #DDD;
    box-sizing: border-box
}

.addthis_native_toolbox {
    height: auto;
    margin: 10px 0;
    width: 100%;
    clear: both;
    border: 1px solid #ededed;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    background: #f7f6f6;
    box-sizing: border-box
}

.addthis_native_toolbox b {
    float: left;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 10px
}

.fb-like {
    height: 40px;
    padding-top: 5px;
    padding-bottom: 4px;
}
.zalo-share-button {
    height: 50px;
    padding-bottom: 10px;
}

#toptop {
    width: 37px;
    height: 37px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    text-indent: -99999px;
    cursor: pointer;
    background: url(images/back_to_top.png) top center no-repeat;
    transition: .5s;
    z-index: 200
}

#toptop:hover {
    background: url(images/back_to_top.png) bottom center no-repeat;
    transition: .5s
}

.clear {
    clear: both
}

img {
    max-width: 100%;
    height: auto
}

.img_product_dichvu {
    max-width: 100%;
    width: 100%;
    height: auto
}

div.bando img {
    max-width: none !important
}

a {
    text-decoration: none
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    background-color: #FFF;
}

@font-face {
    font-family: 'myFont';
    src: url(font/Roboto-Regular.ttf)
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url(font/RobotoCondensed.ttf);
    src: url(font/RobotoCondensed.ttf?#iefix) format("embedded-opentype"), url(font/RobotoCondensed.ttf) format("woff"), url(font/RobotoCondensed.ttf) format("truetype"), url(font/RobotoCondensed.ttf#utm_caviarregular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'UTM_HelvetIns';
    src: url(font/UTM_HelvetIns.ttf);
    src: url(font/UTM_HelvetIns.ttf?#iefix) format("embedded-opentype"), url(font/UTM_HelvetIns.ttf) format("woff"), url(font/UTM_HelvetIns.ttf) format("truetype"), url(font/UTM_HelvetIns.ttf#utm_caviarregular) format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'OpenSans_R';
    src: url(font/OpenSans_R.ttf);
    src: url(font/OpenSans_R.ttf?#iefix) format("embedded-opentype"), url(font/OpenSans_R.ttf) format("woff"), url(font/OpenSans_R.ttf) format("truetype"), url(font/OpenSans_R.ttf#utm_caviarregular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'UVNBaiSau_B';
    src: url(font/UVNBaiSau_B.ttf);
    src: url(font/UVNBaiSau_B.ttf?#iefix) format("embedded-opentype"), url(font/UVNBaiSau_B.ttf) format("woff"), url(font/UVNBaiSau_B.ttf) format("truetype"), url(font/UVNBaiSau_B.ttf#utm_caviarregular) format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'RobotoBold';
    src: url(font/RobotoBold.ttf);
    src: url(font/RobotoBold.ttf?#iefix) format("embedded-opentype"), url(font/RobotoBold.ttf) format("woff"), url(font/RobotoBold.ttf) format("truetype"), url(font/RobotoBold.ttf#utm_caviarregular) format("svg");
    font-weight: 700;
    font-style: normal
}

.nodisplay {
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -99;
    position: fixed;
    top: -500px
}

.sp_cart_top {
    height: 32px;
    position: absolute;
    top: 40px;
    right: 290px;
    background: url(images/giohang.png) no-repeat left;
    padding-left: 45px;
    line-height: 30px;
    color: #000;
    font-family: OpenSans_R;
    font-size: 15px;
    z-index: 999;
}

.sp_cart_top span {
    font-family: OpenSans_R;
    font-size: 12px;
    color: #FFF;
    line-height: 20px;
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;;
    top: -8px;
    left: 20px;
    text-align: center;
}

div#wapper {
    margin: 0 auto;
    width: 100%;
    max-width: 2500px;;
    overflow-x: hidden;
    background: #FFF;
}

div#header {
    position: relative;
    margin: 0 auto;
    width: 100%;
    top: 0px;
    z-index: 9999;
    background-image: linear-gradient(to right top, #ff3700, #ff3c00, #ff4100, #ff4500, #ff4900);
}


.top_header {
    width: 100%;
    margin: 0px auto;
    background: #E8E8E8;
}

.top_header .content {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    color: #000;
    font-family: OpenSans_R;
    line-height: 30px;
    font-size: 14px;
}


.slogan_top {
    font-size: 16px;
    color: #333;
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    margin-right: 45px;
}

.top_header .email {
    padding-left: 30px;
    height: 30px;
    width: auto;
    display: inline-block;
    vertical-align: top;
    background: url(images/icon_email.png) no-repeat left;
    font-family: OpenSans_R;
    font-size: 13px;
    line-height: 30px;
    color: #333;
    margin-left: 30px;
}

.top_header .diachi {
    padding-left: 22px;
    height: 30px;
    width: auto;
    display: inline-block;
    vertical-align: top;
    background: url(images/icon-diachi.png) no-repeat left;
    font-family: OpenSans_R;
    font-size: 14px;
    line-height: 30px;
    color: #333;
    float: right
}

div#header .content_bn {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap; /*height: 63px;*/
}

div#header .col_banner {
    width: 43%;
    position: relative;
    padding-left: 3%;
    /*height:63px*/
}

div#header .col_hotline {
    width: 38%;
    position: relative;
    color: #FFFFFF;
    padding-top: 10px;
}

div#header .col_banner:after {
    width: 55px;
    height: 100%;
    content: "";
    position: absolute;
    right: -55px;
    top: 0px;
    background: url(images/banner_after.png) no-repeat center;
    background-size: 100% 100%;
    text-align: center;
}

div#header .col_avatar {
    position: relative;
    background: #FFFFFF;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 200px;
	}
div#header .col_avatar:after {
    width: 55px;
    height: 100%;
    content: "";
    position: absolute;
    right: -55px;
    top: 0px;
    background: url(images/banner_after.png) no-repeat center;
    background-size: 100% 100%;
}
.hotline_top{
    height: 46px;
    position: absolute;
    top: 10px;
    right: 20px;
    padding-left: 55px;
    font-family: RobotoCondensed;
    font-size: 16px;
    line-height: 23px;
    width: 40%;
}

div#header .col_avatar:after {
    width: 55px;
    height: 100%;
    content: "";
    position: absolute;
    right: -55px;
    top: 0px;
    background: url(images/banner_after.png) no-repeat center;
    background-size: 100% 100%;
}

.hotline_top {
    height: 46px;
    position: absolute;
    top: 10px;
    right: 20px;
    padding-left: 55px;
    font-family: RobotoCondensed;
    font-size: 16px;
    line-height: 23px;
    width: 40%;
}

.hotline_top:before {
    width: 46px;
    height: 46px;
    content: "";
    position: absolute;
    left: 0px;
    box-sizing: border-box;
    top: 0px;
    background: url(images/icon_phone.png) no-repeat center;
    background-color: #FFFFFF;
    border: dashed 1px #8B9093;
}

.hotline_top span {
    color: #FFFFFF;
    font-family: fantasy;
    font-size: 34px;
    display: inline-block;
    vertical-align: top;
    line-height: 43px;
}

.diachi_top{
    height: 46px;
    position: absolute;
    top: 10px;
    left: 55px;
    padding-left: 55px;
    font-family: RobotoCondensed;
    font-size: 16px;
    line-height: 23px;
    max-width: 240px;
}

.diachi_top:before {
    width: 46px;
    height: 46px;
    content: "";
    position: absolute;
    left: 0px;
    box-sizing: border-box;
    top: 0px;
    background: url(images/icon_home.png) no-repeat center;
    border: dashed 1px #8B9093;
    background-color: #FFFFFF;
}


div#header .logo{
    display:inline-block;
    vertical-align:top;line-height:0;
    max-width:100%;
    max-height:70px;
	position: relative;
    z-index: 10;
}

div#header .banner {
    display: inline-block;
    vertical-align: top;
    line-height: 0;
    max-width: 92%;
    max-height: 70px;
    margin-left: 20px;
    margin: 1% 1% 1% 1%;
}

.slide_dmsp_i {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px
}


div#lang {
    float: right;
    margin-top: 7px;
    margin-left: 30px;
}

div#lang a {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    color: #666;
    text-decoration: none
}

div#lang a:hover {
    color: red
}

div#lang a img {
    display: inline-block;
    vertical-align: top;
    height: 20px;
    width: 30px
}

div.link_lienket {
    width: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}

div.link_lienket a {
    color: #333;
    font-size: 20px;
    height: 45px;
    width: 45px;
    line-height: 43px;
    text-align: center;
    text-decoration: none;
    margin: 0px;
    transition: 1s;
    font-weight: 400;
    border: solid 1px #DDD;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 0px 3px;
    background: #FFF;
}

div.link_lienket a:hover {
    transition: 1s;
    color: red
}


div.link_lienket2 {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    text-align: left;
}

div.link_lienket2 img {
    display: inline-block;
    vertical-align: top;;
    height: 42px;
    line-height: 40px;
    width: 42px;
    text-align: center;
    text-decoration: none;
    margin-right: 4px;
    transition: 1s;
    background: none;
    transition: 0.4s;
}

div.link_lienket2 img:hover {
    opacity: 0.8;
    transition: 0.4s;
}


.col_w50 {
    width: 50%;
    float: left;
    padding: 10px
}

.col_w60 {
    width: 60%;
    float: left;
    padding: 10px
}

.col_w40 {
    width: 40%;
    float: left;
    padding: 10px
}

.col_w30 {
    width: 30%;
    float: left;
    padding: 10px
}

.col_w70 {
    width: 70%;
    float: left;
    padding: 10px
}

.col_w20 {
    width: 20%;
    float: left;
    padding: 10px
}

.col_w25 {
    width: 25%;
    float: left;
    padding: 10px
}

.col_w15 {
    width: 15%;
    float: left;
    padding: 10px
}


div#right {
    width: calc(100% - 285px);
    float: right;
    margin-bottom: 20px
}

div#left {
    width: 265px;
    float: left;
    background: #FFF;
    margin-bottom: 20px
}

div#left .tieude {
    color: #CE161A;
    text-align: left;
    font-size: 20px;
    background: url(images/title_danhmuc.jpg) no-repeat center;
    background-size: 100% 100%;
    height: 52px;
    width: 100%;
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: UTM_HelvetIns;
    padding-left: 82px;
    padding-top: 8px;
}

div#danhmuc_left {
    width: 100%;
    margin-bottom: 30px;
    border: solid 1px #CCC;
    background: url(images/bg_dmsp.jpg) repeat-y top right;
    background-color: #FAFAFA;
}

.list_news_r {
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 0px;
    display: inline-block;
    vertical-align: top
}
.product-danhmuc {
    color: #ffffff;
    width: 100%;
    height: 50px;
    background: #ff4700;
}
.mota-product-carousel {
    font-size: 12px;
    height: 30px;
    text-align: left;
    padding-left: 10px;
    padding-right: 5px;
    text-transform: lowercase;
    color: #949494;
}
.lienhe-product-carousel {
    font-size: 16px;
    color: #ff4700;
    padding-top: 15px;
    text-align: right;
    padding-right: 10px;
}
.lienhe-product-carousel a:hover {
    color: #F00;
}
.product-danhmuc h2 {
    font-family: RobotoBold;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.product-carousel {
    width: 230px;
    height: 280px;
    background: #fff;
}
.product-item {
    background: #f9f9f9;
}
.owl-product-carousel {
    width: 100%;
    height: 260px;
    background: #fff;
}

.owl-product-carousel-slider {
    width: 100%;
    height: 220px;
    background: #fff;
}
.title-product-carousel {
    text-align: left;
    width: 100%;
    font-size: 16px;
    height: 55px;

}
.title-product-carousel a:hover {
    color: #F00;
}
.title-product-carousel {
    color: #0e0e0e;
}

.img-product-carousel {
    max-width: 230px;
    max-height: 200px;
    background: #fff;
    image-rendering: pixelated;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.list_news_r li {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 10px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    background: url(images/icon-muiten.png) no-repeat 10px 17px;
    padding-left: 25px;
}

.list_news_r li:last-child {
    border: none
}

.list_news_r li a {
    color: #333;
    font-family: 'RobotoCondensed';
    text-decoration: none;
    font-size: 16px;
    transition: .4s;
    display: block;
    line-height: 28px;
    text-transform: uppercase;
}

.list_news_r li a:hover {
    color: red;
    transition: .4s
}

.list_news_r li ul {
    width: 100%;
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: .5s
}

.list_news_r li:hover ul {
    height: auto;
    transition: .5s
}

.list_news_r li ul li {
    background: none;
    padding: 2px 0
}

.list_news_r li ul li a {
    font-size: 15px
}

div#danhmuc_left .phone_left {
    background: url(images/dienthoai.png) no-repeat left top;
    padding-left: 90px;
    height: 80px;
    width: 90%;
    margin: 5%;
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    font-family: UTM_HelvetIns;
    font-size: 18px;
    color: red;
    padding-top: 10px
}

div#danhmuc_left .phone_left span {
    font-size: 25px
}

.hotro_left {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    margin-bottom: 20px
}

.hotro_left li {
    list-style: none;
    font-family: RobotoCondensed;
    font-size: 16px;
    line-height: 30px
}

.hotro_left li img {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px
}

.hotro_left li.dienthoai {
    font-family: UTM_HelvetIns;
    color: red
}

.col_w33 {
    width: calc(100% / 3);
    padding: 10px;
    float: left
}

.load_video {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

#gioithieu_index {
    background-attachment: fixed;
    background-image: url(imgs/upload/bg/bg_gt_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline;
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 27px;
}

#gioithieu_index .title_gioithieu {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    font-family: UTM_HelvetIns;
    position: relative;
    font-size: 25px;
    margin-bottom: 25px;
    text-align: left;
    color: #FFF200;

}

.content-gioithieu {
    background-color: orangered;
}
#gioithieu_index .title_gioithieu2 {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    font-family: OpenSans_R;
    position: relative;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left;
    color: #FFF;
    padding-left: 20px;
    padding-top: 10px;
}

#gioithieu_index .title_gioithieu2:after {
    width: 30px;
    height: 3px;
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    background: #FFF200;
}

#gioithieu_index .title_gioithieu2:before {
    height: 30px;
    width: 3px;
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    background: #FFF200;
}

.content_gioithieu {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.img_about {
    width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: solid 8px #FFF;
}


#quangcao-top {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 10px
}

#quangcao-top .img {
    width: calc(50% - 5px);
    float: left;
    margin-right: 10px
}

#quangcao-top .img:nth-child(2n) {
    margin-right: 0
}

#menu_login {
    list-style: none;
    position: absolute;
    top: 0px;
    right: 0px
}

#menu_login li {
    display: inline-block;
    padding-left: 20px;
    margin-right: 5px;
}

#menu_login li a {
    text-decoration: none;
    color: #fff;
    padding: 0 5px;
    font-size: 14px;
}

#menu_login li a:hover {
    color: #000;
}

#menu_login li.dk {
    background: url(images/dangky.png) no-repeat left;
}

#menu_login li.dn {
    background: url(images/dangnhap.png) no-repeat left;
}

.hotline_m {
    display: none
}

.sang_header {
    top: 10px;
    left: 20px
}

.img_pop_up {
    width: 100%;
    border: solid 5px #666
}

.mxh_top {
    float: right;
    height: 40px;
    margin-top: 10px
}


div.header {
    display: none
}

div.wap_menu {
    position: relative;
    width: 100%;
    margin: 0 auto;
    z-index: 10;
    margin: 0 auto;
    background: #FFF;
    border-bottom: solid 2px #EEE;
}

div.wap_menu .menu {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    position: relative;
}

div.menu ul {
    list-style: none;
    padding: 0;
}

div.menu ul li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 50;
}

div.menu ul li.line_menu {
    height: 50px;
    width: 2px;
    padding: 0;
    margin: 0;
    background: url(images/line_menu.png) no-repeat center;
}

div.menu ul li a {
    color: #333;
    font-size: 16px;
    line-height: 50px;
    padding: 0px 32px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-family: RobotoBold;
    position: relative;
}


div.menu ul li a:hover, div.menu ul li a.active {
    color: #FF5000
}

div.menu ul li ul, div.menu ul li:hover ul li ul {
    position: absolute;
    margin-left: 0;
    display: none;
    background: #E6E6E6;
    line-height: 1.5;
    height: auto;
    z-index: 9999;
    width: 220px;
}

div.menu ul li ul li {
    display: block;
    width: 100%;
    position: relative;
    height: auto;
    border-bottom: solid 1px #E0E0E0;
}

div.menu ul li ul li a {
    text-transform: none;
    display: block;
    line-height: 25px;
    padding: 5px 10px;
    font-size: 14px;
}

div.menu ul li ul li ul {
    left: 100%;
    top: 0
}

div.search {
    position: absolute;
    top: 7px;
    right: 10px;
    height: 35px;
    width: 35px;
    box-sizing: border-box;
    border: solid 1px #ECC900;
    font-family: RobotoCondensed;
    background: #F2F2F2;
    overflow: hidden;
    transition: 0.7s;
    z-index: 999;
}

div.search input {
    padding: 0 10px;
    height: 33px;
    line-height: 33px;
    float: left;
    border: none;
    background: none;
    width: calc(100% - 40px);
    outline: none;
    color: #333;
    box-sizing: border-box;
    font-size: 15px;
}

div.search .btn_search {
    position: absolute;
    background: url(images/i_search2.png) no-repeat center;
    background-color: #FFD800;
    width: 33px;
    top: 0px;
    right: 0px;
    box-sizing: border-box;
    height: 33px;
    text-transform: uppercase;
    cursor: pointer
}

div.search:hover {
    width: 250px;
    transition: 0.7s;
}

div.search input::-webkit-input-placeholder {
    color: #333
}

div.search input::-moz-placeholder {
    color: #333
}

div.search input:-ms-input-placeholder {
    color: #333
}

div.search input:-moz-placeholder {
    color: #333
}

div#slider {
    margin: 0px auto;
    position: relative;
    width: 100%;
}

div#slider .img_slide {
    width: 100%;
}

.load_video_desk {
    display: none;
}

#slick_slide2 {
    margin-bottom: 12px;
}

#slick_slide2 img, #slick_slide3 img {
    width: 100%
}

#slick_slide_index img, #slick_slide_index2 img {
    padding: 5px;
    width: 100%;
}

#tintuc_index {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    background: #F9F9F9;
}


.content_noidung {
    width: 92%;
    max-width: 2295px;
    margin: 15px auto;
    border-top: solid 1.5px #f2f2f2;
    border-left: solid 1.2px #f2f2f2;
    border-bottom: solid 1.5px #f2f2f2;
    border-right: solid 1.5px #f2f2f2;
    /*box-shadow: 0px 5px 20px rgba(0, 0, 0, 1);*/
}

.content_quytrinh {
    background-color: #F9F9F9;
    width: 100%;
    margin: 15px -3px;
    padding-top: 45px;
    padding-bottom: 3px;
}

.content_quytrinh p {
    font-size: 17px
}

.img_quytrinh {
    width: 49%;
    height: 72%;
}


.content_fanpage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.content_fanpage .fb-page {
    width: 50% !important;
    padding: 10px;
}

.title_tintuc {
    width: 100%;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-family: UTM_HelvetIns;
    font-size: 26px;
    color: #ff3b00;
    text-align: left;
    padding-bottom: 8px;
}

.title_tintuc:after {
    content: "";
    width: 60px;
    height: 2px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: #008C45;
}

.box_dv_index {
    font-family: RobotoCondensed;
    font-size: 15px;
    line-height: 22px;
    background: #FFFFFF;
    border: solid 8px #FFFFFF;
    border-radius: 4px;
    width: calc(100% - 20px);
    margin: 10px;
    transition: 0.5s;
    color: #333;
    text-align: center;
}

.box_dv_index .img {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.box_dv_index .ten {
    display: inline-block;
    vertical-align: top;
    padding: 3px 5px;
    width: 100%;
    margin-top: 7px;
}

.box_dv_index .ten a {
    font-family: RobotoBold;
    color: #006A33;
    font-size: 17px;
    font-weight: normal;
    transition: 0.5s;
}

.box_dv_index .mota {
    display: inline-block;
    vertical-align: top;
    padding: 3px 5px;
    width: 100%;
    margin-bottom: 5px;
    text-align: justify;
}

.box_dv_index:hover {
    background: #006A33;
    transition: 0.5s;
    color: #FFF;
}

.box_dv_index:hover .ten a {
    color: #FFFF00;
    transition: 0.5s;
}

.box_dv_index .xemchitiet {
    display: inline-block;
    vertical-align: top;
    padding: 4px 20px;
    background: #006A33;
    color: #FFFF00;
    transition: 0.5s;
    margin-bottom: 8px;
}

.box_dv_index:hover .xemchitiet {
    background: #FFFF00;
    color: #006A33;
    transition: 0.5s;
}

.content_tintuc_i {
    padding: 20px;
    background: #F3F3F3
}

.box_news_index {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    background: #EBEBEB;
    font-family: OpenSans_R;
    font-size: 15px;
    margin-bottom: 2%;
}

.box_news_index .img {
    width: 135px;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
}

.box_news_index .ten {
    padding-bottom: 6px;
}

.box_news_index .ten a {
    font-family: RobotoBold;
    color: #000;
    font-size: 16px;
}

.box_news_index .ten a:hover {
    color: #008C45;
}

#tab_noibat {
    width: 100%;
    padding: 5px;
    text-align: center;
}

#tab_noibat li {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    border: solid 1px #D0D0D0;
    border-radius: 4px;
    padding: 5px 20px;
    line-height: 25px;
    color: #333;
    font-family: RobotoBold;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0px 3px;
}

#tab_noibat li:hover, #tab_noibat li.active {
    background: #F4D52B;
    border-color: #F4D52B;
}

#content_noibat {
    padding-bottom: 30px;
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.col_50 {
    width: 50%;
    float: left;
    padding: 10px;
    box-sizing: border-box
}

.col_33 {
    width: calc(100% / 3);
    float: left;
    padding: 10px;
    box-sizing: border-box;
    text-align: center
}

.col_30 {
    width: 30%;
    float: left;
    padding: 10px;
    box-sizing: border-box
}

.col_40 {
    width: 40%;
    float: left;
    padding: 10px;
    box-sizing: border-box
}

.col_60 {
    width: 60%;
    float: left;
    padding: 10px;
    box-sizing: border-box
}

.link-xemthem {
    float: right;
    font-size: 16px;
    color: #CA101B;
}

.link-xemthem:hover {
    color: #880B11;
    transition: .5s
}

.link-xemthem2 {
    padding: 6px 25px;
    border: none;
    color: #005629;
    font-family: RobotoBold;
    font-size: 16px;
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
    transition: .5s;
    background: #FFF200;
}

.link-xemthem2:hover {
    color: #FF0000;
    transition: .5s
}

.bando_ft {
    width: 100%;
    position: relative
}

.frm_lienhe_index {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 10px auto;
    padding: 20px;
    background: #006A33;
    text-align: center
}

.frm_lienhe_index .input_lh {
    padding: 4px;
    border: solid 1px #CCC;
    background: #FFF;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    line-height: 22px
}

.frm_lienhe_index #hinh_captcha {
    height: 30px;
    display: inline-block;
    vertical-align: top
}

.frm_lienhe_index .title_frm {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    font-family: RobotoBold;
    color: #FFF;
    font-size: 20px;
}

#div_dangkynhantin {
    width: 100%;
    position: relative;
    background: #FFD800;
    padding: 25px 0px;
}

.title_dangkynhantin {
    min-height: 77px;
    padding-left: 80px;
    background: url(images/email_dknt.png) no-repeat left top;
    font-size: 14px;
    font-family: RobotoCondensed;
}

.title_dangkynhantin p {
    font-family: RobotoBold;
    font-size: 20px;
}

#dknt {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    text-align: left;
}

#dknt .title_dknt {
    width: 100%;
    color: #0745A0;
    display: block;
    margin-bottom: 10px;
    font-family: UTM_HelvetIns;
    font-size: 18px;
}

#dknt .mota_dknt {
    width: 100%;
    color: #FFF;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.gg_capchar {
    width: 200px;
    height: 45px;
    border-radius: 3px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.gg_capchar .g-recaptcha {
    margin-left: -5px;
    margin-top: -13px;
}

#frm_dknt {
    width: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}

form#frm_dknt .txt_input {
    padding: 10px;
    line-height: 25px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    padding-left: 40px;
    border: none;
    background: none;
    outline: none;
    color: #000;
    outline: none;
    font-family: OpenSans_R;
    font-size: 15px;
    width: 240px;
    border-radius: 3px;
}

form#frm_dknt .txt_input.email {
    background: url(images/icon-email.png) no-repeat 8px 8px;
    background-color: #F2F2F2;
}


form#frm_dknt .txt_input2 {
    width: 100%;
    padding: 6px 10px;
    line-height: 25px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    height: 93px;
    border: none;
    background: none;
    outline: none;
    color: #000;
    outline: none;
    background: #FFF;
    border: solid 1px #E1E1E1;
}

form#frm_dknt input[type='button'] {
    background-image: linear-gradient(#3E8316, #29550F);
    color: #FFF;
    width: 100px;
    height: 45px;
    line-height: 43px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    font-family: RobotoBold;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    font-weight: normal;
    border: solid 1px #FFF;
}


#div_dangkynhantin2 {
    width: 100%;
    position: relative;
    background: #EEEEEE;
    padding: 20px;
    max-width: 800px;
}

.title_dangkynhantin2 {
    font-family: RobotoBold;
    font-size: 20px;
}

form#frm_dknt2 .txt_input2 {
    width: 100%;
    padding: 6px 10px;
    line-height: 25px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
    border: none;
    background: none;
    outline: none;
    color: #000;
    outline: none;
    background: #FFF;
    border: solid 1px #E1E1E1;
}

form#frm_dknt2 input[type='button'] {
    background-image: linear-gradient(#3E8316, #29550F);
    color: #FFF;
    width: 100px;
    height: 40px;
    line-height: 38px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    font-family: RobotoBold;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    font-weight: normal;
    border: solid 1px #FFF;
}


.title_box_tags {
    font-family: RobotoBold;
    font-size: 18px;
    color: #333;
}

.box_tags {
    padding: 10px;
}

.box_tags a {
    display: inline-block;
    vertical-align: top;
    font-family: OpenSans_R;
    font-size: 15px;
    color: #333;
    padding: 0px 10px;
}

.box_tags a:hover {
    color: #0000FF;
}

div#main_content {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto
}

.tieude_giua {
    font-family: RobotoBold;
    font-size: 24px;
    color: orangered;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 15px;
    background: url(images/title_main.png) no-repeat bottom center;
}

.tieude_index {
    font-family: RobotoBold;
    font-size: 30px;
    color: #333;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 15px;
    position: relative;
    text-transform: uppercase;
    line-height: 35px;
    text-align: center;
}

.tieude_index:after {
    width: 100%;
    height: 8px;
    content: "";
    position: absolute;
    left: 0px;
    bottom: calc(50% - 4px);
    border-top: dashed 1px #999;
    border-bottom: dashed 1px #999;
}

.tieude_index span {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 10;
    background: #F5F5F5;
    padding: 5px 20px;
}

.mota_index {
    width: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    font-family: OpenSans_R;
    font-size: 15px;
    color: #333;
}


.tieude_index2 {
    font-family: UTM_HelvetIns;
    font-size: 32px;
    color: #FFF;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    line-height: 42px;
}

.tieude_dichvu {
    font-family: RobotoBold;
    font-size: 30px;
    color: #ff3b00;
    width: 100%;
    /*position: relative;*/
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.tieude_dichvu p{
    padding: 25px 0px 24px;
    font-size: 17px;
    font-family:'Roboto', sans-serif;
    color: black;
    text-transform:none;
}


#dichvu_noibat {
    width: 100%;
    margin: 0px auto;
    padding: 30px 0px;
    background: url(images/bg_dichvu.jpg) no-repeat top center;
    background-size: cover;
}

#content_dichvu {
	display: inline;
	float: left;
	width: 100%;
}

#content_dichvu .dichvu-area{
	margin-top: 20px;
}
#slick_dichvu {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
}


#doitac {
    width: 100%;
    padding: 20px 0;
}

#slick_doitac {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0px;
    text-align: center;
    font-family: RobotoCondensed;
    font-size: 16px;
    color: #FFF;
    margin-top: -23px;
    background-color: #EBEBEB;
}

#doitac .item_doitac {
    margin: 0 10px;
    box-sizing: border-box
}

#doitac .item_doitac img {
    max-width: 100%;
    height: 78px;
    border: solid 1px #EEE;
}

div.wap_item {
    text-align: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 25px
}

.item {
    width: calc((100% / 4) - 33px);
    margin: 10px 15px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
    font-family: OpenSans_R;
    transition: .4s;
    background: #FFF;
    padding-bottom: 15px;
}

.item .img {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 5px;

}

.item .ten {
    width: 100%;
    position: relative;
    font-family: RobotoBold;
    text-align: justify;
    font-weight: normal;
    margin-top: 10px;
    line-height: 22px;
    padding: 0px 10px;
}

.item .ten a {
    color: #000000;
    font-size: 16px;
}

.item .mota {
    width: 100%;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    padding: 5px 0;
    font-weight: 400;
    font-size: 15px;
    color: #333;
    text-align: justify;
}

.item .ten a:hover {
    color: #F00
}

.item .mota {
    width: 100%;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    padding: 5px 10px;
}

.item .sp_gia {
    width: 100%;
    margin: 0;
    font-size: 15px;
    text-align: justify;
    display: inline-block;
    vertical-align: top;
    line-height: 22px;
    margin-bottom: 10px;
    padding: 0px 10px;
    color: #C7111D;
    font-family: RobotoBold;
}

.item .sp_gia span {
    display: inline-block;
    vertical-align: top;
}

.item .sp_gia .giacu {
    font-family: RobotoCondensed;
    color: #666;
    text-decoration: line-through;
    font-size: 14px;
    margin-left: 10px;
}


.item .btn_addtocart {
    text-align: center;
    line-height: 25px;
    text-align: center;
    padding: 3px 15px;
    background: #E21414;
    border-radius: 7px;
    color: #FFF;
    cursor: pointer;
    font-family: RobotoCondensed;
    font-size: 14px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    transition: 0.4s;
    z-index: 99;

}

.item .btn_addtocart .ico {
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: top;
    background: url(images/icon-giohang.png);
    background-size: 100% 100%;
    margin-right: 4px;
}

.item .btn_addtocart:hover {
    background: #AA0F0F;
    transition: 0.4s;
}

.item .box-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
}

.item .icon_news {
    width: 35px;
    height: 26px;
    display: inline-block;
    vertical-align: top;
    background: url(images/icon_news.png) no-repeat center;
}

.item .icon_hot {
    width: 35px;
    height: 26px;
    display: inline-block;
    vertical-align: top;
    background: url(images/icon_hot.png) no-repeat center;
}


a.btn-chitiet {
    width: 35%;
    float: right;
    text-align: center;
    line-height: 25px;
    background: #EEE;
    font-size: 15px;
    color: #000;
    padding: 5px 0;
    position: relative
}

a.btn-chitiet:before {
    width: 0;
    height: 0;
    border-bottom: 35px solid #EEE;
    border-left: 20px solid transparent;
    content: '';
    position: absolute;
    left: -20px;
    bottom: 0
}

a.btn-chitiet:hover {
    color: red
}

a.btn-addcart {
    padding: 3px 18px;
    border: double 3px #666;
    display: inline-block;
    vertical-align: top;
    margin: 5px 0;
    color: #333;
    font-size: 15px;
    cursor: pointer
}

a.btn-addcart:hover {
    color: red
}


#slick_visao {
    width: 100%;
    max-width: 1200px;
    margin: 15px auto;
}

.item_vs {
    width: 100%;
    padding: 10px;
    font-family: OpenSans_R;
    font-size: 13px;
    color: #FFF;
}

.item_vs .img {
    float: left;
    margin-right: 10px;
    width: 50px;
}

.item_vs .ten a {
    color: #FFF;
    font-family: RobotoBold;
    font-size: 14px;
    text-transform: uppercase;
}

.item_vs .ten a:hover {
    color: #F6CA1B
}

#video_index {
    width: 100%;
    margin: 10px auto;
}


div#wap_footer {
    margin: 0 auto;
    width: 100%;
    position: relative;
    /* background: url(images/bg_footer.jpg) no-repeat top center; */
    /* background-color: #8f0000; */
    background-image: linear-gradient(to right top, #ff3700, #ff3c00, #ff4100, #ff4500, #ff4900);
    color: #FFF;
    font-family: OpenSans_R;
    font-size: 15px;
    background-size: cover;
}

.tag_keywords {
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
}

#main_footer {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

#main_footer .col_footer1 {
    width: 28%;
    padding: 10px;
}

#main_footer .col_footer2 {
    width: 18%;
    padding: 10px;
}

.map_ft {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    border: solid 2px #084C89;
}

.map_ft iframe {
    height: 440px !important;
    width: 100% !important;
    display: inline-block;
    vertical-align: top;
}

.g-recaptcha div {
    max-width: 100% !important;
}

.g-recaptcha iframe {
    width: 100% !important;
}

.rc-anchor-normal, .rc-anchor-normal .rc-anchor-content, .rc-anchor-normal-footer {
    height: 50px !important;
}

div#wap_footer .ten_cty {
    width: 100%;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 13px;
    margin-top: 11px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-family: RobotoBold;
    position: relative;
    color: #FFF;
}

.info_ft1 {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    line-height: 20px;
    padding-left: 38px;
    font-family: OpenSans_R;
    font-size: 15px;
    color: #FFF;
    margin-bottom: 10px;
}

.info_ft1.diachi {
    background: url(images/icon-diachi.png) no-repeat left;
}

.info_ft1.dienthoai {
    background: url(images/icon-dienthoai.png) no-repeat left;
}

.info_ft1.email {
    background: url(images/icon-email.png) no-repeat left;
}

.info_ft1.website {
    background: url(images/icon-web.png) no-repeat left;
}

div#wap_footer .title_ft {
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
    position: relative;
    font-family: RobotoBold;
    color: #FFF;
    position: relative;
}


div#wap_footer .info_ft {
    width: 100%;
    display: inline-block;
    line-height: 20px;
    padding: 3px 0px;
    font-family: OpenSans_R;
    font-size: 15px;
    color: #FBFBFB;
    margin-bottom: 5px;
}

div#wap_footer .info_ft:hover {
    color: #FF0
}

#copy_right {
    width: 100%;
    padding: 6px;
    margin: 0 auto;
    bottom: 0;
    line-height: 25px;
    z-index: 99;
    text-align: left;
    background: #4b2515;
}

.thongke_ft {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: right
}

.thongke_ft img {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
    margin-top: 4px
}

.thongke_ft span {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.box_lienket_ft {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 10px 0px;
}

.box_lienket_ft .link_lienket {
    display: inline-block;
    vertical-align: top;
    padding: 5px 15px;
    background: #12A45A;
    margin-right: 7px;
    color: #FFF;
    padding-right: 30px;
    position: relative;
    line-height: 25px;
    margin-bottom: 5px;
}

.box_lienket_ft .link_lienket:hover {
    color: #FFD800;
}

.box_lienket_ft .link_lienket:after {
    width: 6px;
    height: 6px;
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    right: 10px;
    background: #FFF;
    border-radius: 50%;
}

div.wap_pro {
    width: 100%;
    padding: 10px
}

.zoom_slick {
    width: 45%;
    float: left;
    text-align: center
}

.zoom_slick .slick2 {
    border: 1px solid #DDD
}

.zoom_slick .slick {
    margin-top: 5px
}

.zoom_slick .slick img {
    width: 95%;
    margin: auto;
    border: 1px solid #DDD;
    box-sizing: border-box;
    cursor: pointer
}

.zoom_slick .slick img:hover {
    border: 1px solid #F60;
    opacity: .5;
    transition: 1s
}

.product_info {
    float: right;
    list-style: none;
    width: 52%
}

.product_info li {
    font-size: 14px;
    border-bottom: 1px solid #EEE;
    padding: 6px 0;
    font-family: RobotoBold;
}

.product_info li.ten {
    color: #03F;
    font-size: 18px
}

.product_info li.giacu {
    font-size: 15px;
    text-decoration: line-through
}

.product_info li.gia {
    color: #FF0000;
    font-size: 16px
}

.product_info li.loai {
    color: #8C1B21;
    font-size: 18px
}

.product_info li b {
    font-weight: 400;
    font-size: 14px
}

.xemgiohang {
    color: #E80019;
    display: block;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    font-size: 13px;
    transition: .4s;
    margin: auto;
    margin-top: 7px
}

.product_info li .dathang {
    background: #023A77;
    color: #fff;
    display: block;
    max-width: 300px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
    transition: .4s
}

.product_info li .dathang i {
    margin-right: 10px;
    font-size: 25px;
    margin-top: 3px
}

.product_info li .dathang:hover {
    transition: .4s;
    background: #0F65BB
}

.txt_hethang {
    display: inline-block;
    vertical-align: top;
    color: #015C2D;
    font-family: RobotoBold;
    font-size: 18px;
}

span.size {
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #DDD;
    border-radius: 3px;
    margin: 3px;
    cursor: pointer;
    color: #333;
    font-size: 14px;
}

span.mausac {
    display: block;
    float: left;
    border: 1px solid #DDD;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 0
}

span.active_size, span.size:hover, span.mausac:hover, span.active_mausac {
    border: 1px solid #E00
}

input.soluong {
    width: 50px;
    border: 1px solid #C7C6C6;
    padding: 2px 0;
    text-align: center;
    font-size: 15px;
    margin-right: 5px
}

table#giohang input {
    margin: 5px 0
}

table#giohang input.btn, .click_ajax {
    background: #DC0018;
    color: #fff;
    padding: 7px 15px;
    border: none;
    cursor: pointer;
    margin: 5px 1px;
    border-radius: 3px
}


.box_dientichluy {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;;
    font-size: 14px;
}

.check_giamgia {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;;
    font-size: 14px;
    color: #D94D09;
    font-family: RobotoCondensed;
    font-size: 16px;
    margin-bottom: 10px;
}

.check_giamgia span {
    font-family: RobotoBold
}

.check_giamgia #use_score {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 0px;
    margin-right: 6px;
    margin-top: 2px;
}

.btn_click_muahang {
    display: inline-block;
    vertical-align: top;
    font-family: RobotoBold;
    font-size: 14px;
    color: #333;
    border: solid 1px #999999;
    background: #EEE;
    padding: 4px 25px;
    margin-top: 10px;
    cursor: pointer;
}

.btn_click_muahang:hover {
    color: #8C1B21;
}

table#tt td {
    height: 30px
}

table#tt td input.t {
    width: 300px;
    height: 20px;
    margin: 3px 0 5px;
    border: 1px solid #DDD
}

table#tt td textarea {
    width: 300px
}

table#tt span {
    color: red
}

@-webkit-keyframes star {
    0% {
        -webkit-transform: rotate(0) scale(0)
    }
    50% {
        -webkit-transform: rotate(180deg) scale(1.5)
    }
    100% {
        -webkit-transform: rotate(360deg) scale(0)
    }
}

@-o-keyframes star {
    0% {
        -o-transform: rotate(0) scale(0)
    }
    50% {
        -o-transform: rotate(180deg) scale(1.5)
    }
    100% {
        -o-transform: rotate(360deg) scale(0)
    }
}

@-moz-keyframes star {
    0% {
        -moz-transform: rotate(0) scale(0)
    }
    50% {
        -moz-transform: rotate(180deg) scale(1.5)
    }
    100% {
        -moz-transform: rotate(360deg) scale(0)
    }
}

.start-animate {
    z-index: 1.0 E+17 !important;
    position: absolute;
    animation: star linear 1.75s infinite;
    -moz-animation: star linear 1.75s infinite;
    -webkit-animation: star linear 1.75s infinite;
    -o-animation: star linear 1.75s infinite
}

@keyframes star {
    0% {
        transform: rotate(0) scale(0)
    }
    50% {
        transform: rotate(180deg) scale(1.5)
    }
    100% {
        transform: rotate(360deg) scale(0)
    }
}

/*** 360px ***/
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3) {
   .home-product .menu .dv{
       font-size: 13px;
    }
    .post-contact {
        border: 2px dashed #68b901;
        border-radius: 4px;
        padding: 20px;
        font-size: 15px;
        margin: 20px;
    }
}
