* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 25px;
    word-wrap: break-word;
}

.hide {
    display: none;
}

img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

ul li, ol li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    line-height: 1.35;
    margin: 0;
}

footer {
    margin-top: 20px;
}

.wrapper2 footer {
    border-top: 2px solid rgba(244,244,244,0);
    margin-top: 0;
    background: #6abf16;
}

a:hover {
    cursor: pointer !important;
}

a:hover, a:focus, input:focus, button:focus {
    text-decoration: none;
    outline: none;
}

.btn:focus {
    outline: none;
}

label:hover {
    cursor: pointer;
}

.padding-left-0 {
    padding-left: 0;
}

.padding8px {
    padding: 8px
}

.modal-footer {
    padding: 5px 15px;
}

.red {
    color: red;
}

.clear-after:after {
    content: " ";
    display: block;
    clear: both;
}

.required:after {
    content: "*";
    display: inline-block;
    color: #ff0000;
    margin-left: 5px;
}

.btn-flat {
    border-radius: 0;
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 12px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin: 5px 0;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open > .dropdown-toggle.btn-facebook {
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-pinterest {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-google:hover, .btn-google:focus, .btn-google:active, .btn-google.active, .open > .dropdown-toggle.btn-google {
    color: #fff;
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-social > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.label-normal label {
    font-weight: normal;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

/*** begin: top-header ***/
.top-header {
    min-height: 45px;
    line-height: 45px;
    border-bottom: 2px solid #68b901;
    width: 100%;
    height: 45px;
    background: #fff;
    z-index: 9999;
}

header {
    margin-bottom: 50px;
    position: fixed;
    z-index: 9999;
    top: 0;
    height: 50px;
}

header .header {
    position: fixed;
    z-index: 99;
}

header img.logo-mobile {
    width: 40px;
    margin-top: 4px
}

/*** end: top-header ***/

/*** begin: footer ***/
.main-footer {
    min-height: 220px;
    color: #68b901;
    padding: 40px 0;
}

.wrapper2 .main-footer {
    min-height: 0;
}

.main-footer .footer-info p.title, .main-footer .footer-newsletter p.title, .main-footer .footer-social p.title {
    color: #68b901;
    margin: 0 0 15px;
    text-align: left;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px
}

.wrapper2 .main-footer, .wrapper2 .main-footer .footer-info h3, .wrapper2 .main-footer .footer-newsletter h3, .wrapper2 .main-footer .footer-social h3 {
    color: #b48a33
}

.main-footer .footer-info p {
    font-size: 14px;
}

.wrapper2 .main-footer .footer-info a.logo-footer img{
    float: left;
    /*width: 18%*/
    width:60px;
    height:60px
}

.wrapper2 .main-footer .footer-info .footer-company-info {
    /*width: 100%;*/
    float: left;
    margin: 15px;
}

.main-footer .footer-social {
    margin-top: 15px;
    margin-bottom: 10px;
}

.wrapper2 .main-footer .footer-social {
    /*margin-bottom: 25px;*/
    /*padding-left:0*/
    margin: 12px 0 80px;
}

.menu-footer {
    background: #AB0707;
    min-height: 30px;
    line-height: 30px;
    text-align: left;
}

.menu-footer > .container {
    padding-left: 0;
    padding-right: 0;
}

.menu-footer ul li {
    float: left;
    padding: 5px 15px;
}

.menu-footer ul li a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.menu-footer ul li:hover {
    background: rgba(255, 255, 255, .15);
}

.after-footer {
    background: #68b901;
    min-height: 5px;
}

.wrapper2 .after-footer {
    display: none;
}

.after-footer a {
    color: #fff;
}

/*** end: footer ***/

.no-scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

/*** begin: main-menu ***/
.menu-item-has-children a {
    width: 100%;
}

.main-menu {
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    margin-bottom: 0;
    height: 50px;
    background: #fff;
    border-bottom: 2px solid #6b960b;
}

.wrapper2 .main-menu {
    background: #fff;
}

.main-menu .menu li {
    text-transform: uppercase;
    border-right: 1px solid #ccc;
    margin-top: 10px;
}

.main-menu .menu li a:hover {
    background: none;
}

.main-menu .menu li a {
    font-weight: bold;
    padding: 5px 10px;
}

.main-menu .menu li:first-child {
    background: #ebebeb;
    border-right: 0;
    margin: 0;
}

.main-menu .menu li:first-child a {
    color: #fe4f00;
    height: 50px;
}

.main-menu .menu li:first-child a i {
    font-size: 20px;
    line-height: 37px;
}

.main-menu .menu li:first-child a:hover i {
    color: #3781C0;
}

.main-menu .search-box input {
    border-radius: 0;
    border-color: #ccc;
    border-right: 0;
}

.main-menu .search-box button {
    background: none;
    color: #222;
    border-left: 0;
    border-radius: 0;
    border-color: #ccc;
}

.main-menu .menu-extra {
    margin-top: 10px;
}

.main-menu .menu-extra li:first-child a {
    display: inline-block;
    margin-right: 10px;
    border-bottom: none;
    text-transform: capitalize;
    padding-right: 0;
}

.main-menu .menu-extra li a.phone {
    text-transform: capitalize;
}

.main-menu .menu-extra li a.phone span {
    color: #ff5f17;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 10px;
}

/** Header Search **/
.header-search {
    position: absolute;
    right: 0;
    top: 40px;
    width: 100%;
}

.header-search form {
    overflow: hidden;
    position: relative;
}

.header-search .search-form {
    border: none;
    margin: 0;
    color: #222;
    padding: 5px 22px 5px 10px;
    background: #f6f6f6;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid green;
}

.header-search .search-input {
    background: #f6f6f6;
    border: none;
}

.header-search .button-search {
    position: absolute;
    top: -30px;
    right: 10px;
    background: none;
    border: none;
    height: 30px;
    color: #6b960b;
    font-size: 2rem;
    cursor: pointer;
}

.header-search .button-search span{
    font-size: 2.5rem;
    vertical-align: middle;
}

.header-search .button-submit {
    position: absolute;
    top: 6px;
    right: 5px;
    background: none;
    border: none;
    height: 30px;
    width: 30px;
    color: #222;
}

.header-search .button-search-active {
    position: absolute;
    top: 0;
    right: 5px;
    background: none;
    border: none;
    height: 30px;
    width: 30px;
    left: 0px;
    color: #fff;
    line-height: 30px;
}

.header-search .button-submit i {
    float: none !important;
}

.header-search #search::-webkit-input-placeholder {
    color: #222;
}

.header-search #search:-moz-placeholder {
    color: #222;
}

.header-search #search::-moz-placeholder {
    color: #222;
}

.header-search #search:-ms-input-placeholder {
    color: #222;
}

.mobile-menu-button h2 {
    font-size: 10px;
    margin: 0;
}

.main-menu .mobile-menu-button {
    text-align: center;
    color: #FFF;
}

.main-menu .header-seo {
    color: #fff;
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
}

.main-menu .header-seo h1 {
    font-size: 18px;
    margin: 6px;
    letter-spacing: 2px;
}

.main-menu .header-seo h1 a {
    color: #fff;
}

.main-menu .header-seo h2 {
    font-size: 10px;
    margin: 0
}

.main-menu .mobile-menu-button i.fa {
    font-size: 2.5rem;
    line-height: 50px;
    position: absolute;
    left: 10px;
    color: #6b960b;
}

.main-menu .menu-wrap {
    position: relative;
    left: -100%;
    top: 5px;
    width: 252px;
    max-width: 100%;
    background-color: #6b960b;
    z-index: 1000;
    -ms-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.wrapper2 .main-menu .menu-wrap {
    background: #2ba94a;
}

.main-menu .menu-wrap li a {
    display: block;
    padding: 8px 15px;
    color: #FFF;
    font-size: 13px;
    border-bottom: 1px solid #ebebeb;
    text-transform: uppercase;
}

.main-menu .menu-wrap .dropdown-menu li a {
    color: #222;
}

.main-menu .menu-wrap .current-menu a:hover {
    background: rgba(255, 255, 255, .15);
}

.main-menu .menu-wrap .sub-menu {
    display: none;
}

.main-menu .menu-wrap li > .sub-menu > li > a {
    background-color: #1B5083;
    border-bottom: 1px solid #44729E;
    padding: 12px 8px;
    color: #FFF;
    font-size: 15px;
}

.main-menu .menu-wrap li > .sub-menu > li > a > i {
    display: none !important;
}

.main-menu .menu-wrap li > .sub-menu > li > .sub-menu > li > a {
    padding-left: 30px;
    background-color: #5AA517;
    border-bottom: 1px solid #74BD33;
}

.menu-bottom {
    position: fixed;
    bottom: 0;
    background: #AB0707;
    width: 100%;
    padding: 8px;
    color: #fff;
    padding-left: 0;
    padding-right: 0;
    font-size: 13px;
    height: 40px;
}

.menu-bottom ul li {
    list-style: none;
    float: left;
}

.menu-bottom ul li:nth-child(2) {
    float: right;
}

.menu-bottom ul li:last-child {
    float: right;
    margin-right: 0px;
}

.menu-bottom ul li:last-child i {
    font-weight: bold;
    background: rgba(255, 0, 0, 0.3);
    padding: 5px 10px;
}

.menu-bottom ul li a {
    color: #fff;
}

.menu-bottom .bottom-extra {
    display: none;
}

.webname {
    text-align: center;
    background: #AB0707;
    margin: 0;
    line-height: 26px;
    height: 40px;
    font-weight: 700;
}

.webname a {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
}

/*** end: nav ***/

.menu-search {
    display: none;
}

/*** begin: main-content ***/
.main-content {
    margin-top: 5px;
    clear: both;
}

.main-content .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: rgba(204, 204, 204, 0.69);
}

.sidebar .panel .panel-body {
    padding: 15px 0 0;
}

.sidebar .desc {
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    color: #999;
}

.sidebar .media-heading {
    font-size: 14px;
    text-align: left;
}

.sidebar .panel-heading {
    padding: 0 !important;
}

.sidebar .panel-title {
    display: inline-block;
    background-color: #003770;
    color: #FFF;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0 15px;
    line-height: 40px;
    position: relative;
}

.sidebar .panel-heading:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    border: 20px solid transparent;
    border-right-color: #fff;
    top: 0;
    right: 0;
    height: 40px;
}

.main-content .sidebar .panel-heading {
    background: #003770;
    border-radius: 0;
    border-color: #003770;
    border-bottom-width: 3px;
    height: 40px;
    position: relative;
}

.main-content .product {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.archive > .main-item {
    margin-top: 0;
}

.main-item .item {
    padding: 0;
    overflow: hidden;
}

.main-item .item .column {
    margin: 5px 0;
    border: 1px solid #ddd;
    overflow: hidden;
    background: #fff;
}

.main-item .item .featured-img {
    margin: 0px;
    padding-left: 0;
    padding-right: 0;
}

.search-page .main-item .item .featured-img {
    position: relative;
}

.search-page .main-item .item .featured-img span {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    background: -webkit-linear-gradient(rgba(34, 34, 34, 0.12), #003770); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(34, 34, 34, 0.12), #003770); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(34, 34, 34, 0.12), #003770); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(34, 34, 34, 0.12), #003770); /* Standard syntax */
}

.search-page .sidebar {
    margin-top: 5px;
}

.main-item .item .item-content {
    padding: 5px;
}

.main-item .main-item-1 .item .featured-img {
    margin-top: 0px;
    padding-left: 0;
}

.main-item .main-item-1.item .item-content {
    padding: 5px 10px;
}

.main-item .item .item-content .title {
    margin: 3px 0;
    line-height: 20px;
}

.main-item .item .item-content .title a {
    color: #222;
    font-size: 14px;
}

.main-item .item .item-content .desc {
    font-size: 13px;
    color: #999;
}

.main-item .item .item-content .item-extra {
    color: #999;
    margin-top: 10px;
    font-size: 13px;
}

.main-item-2 {
    margin-top: 5px;
}

.height300 {
    height: 300px;
}

.product .panel-title {
    line-height: 20px;
}

.product .panel-body {
    padding: 10px;
}

/*** begin: modal ***/
.modal-title {
    font-size: 15px;
}

/*** end: modal ***/

.main-content-1 {
    padding-left: 0;
    padding-right: 0;
}

.main-content-1 > .main-item section {
    margin-bottom: 5px;
}

/*** end: main-content ***/
/*** begin: newsletter ***/

.footer-newsletter h4 {
    line-height: 25px;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 15px;
}

.footer-newsletter input {
    padding: 3px;
    border: 1px solid rgba(255, 255, 255, 0.21);
    color: #222;
    background: #eee;
    width: 70%;
}

.footer-newsletter input:focus {
    border: 1px solid #fff;
    color: #222;
}

.footer-newsletter .content {
    position: absolute;
    float: left;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.footer-newsletter > div {
    padding: 6px;
    margin-top: 10px;
}

#send_newsletter {
    background: #ED2024;
    color: #fff;
    border: 0;
    padding: 4px 10px;
    margin-left: 3px;
}

#result_newsletter {
    display: block;
    clear: both;
}

/*** end: newsletter ***/
/*** begin: header ***/

.header > .container {
    padding-top: 10px;
}

.header .logo {
    height: 90px;
}

.header .logo img {
    display: inline-block;
    width: 50px;
}

.header .logo .web-title {
    margin: 0;
    font-weight: 700;
    line-height: 1.35;
    font-family: "Roboto Condensed", sans-serif;
}

.header .logo p.web-title {
    padding-top: 8px;
}

.header .logo .web-title a {
    margin: 6px;
    font-size: 17px;
    text-align: center;
    color: #222;
}

/*** end: header ***/

.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .media-left {
    width: 42%;
    vertical-align: top;
    padding-left: 5px;
}

.sidebar .media {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}

.sidebar .media:last-child {
    border: none;
}

.sidebar .media a {
    color: #222;
    line-height: 20px;
}

.sidebar .media a:hover {
    color: #AF1D0D;
}

.sidebar-1 .list-group {
    margin-bottom: 0;
}

.sidebar-1 .list-group-item {
    border: none;
    border-top: 1px dashed #ddd;
    border-radius: 0;
}

.sidebar-1 .list-group-item h2 {
    line-height: 15px;
    margin-bottom: 5px;
}

.sidebar-1 .list-group-item:first-child {
    border: none;
}

.sidebar-1 .badge {
    margin-top: 2px;
}

.border-none {
    border: 0 !important;
}

.padding-0 {
    padding: 0 !important;
}

#popup-modal .form-group{
    margin-bottom: 10px;
}
#popup-modal .form-group label{
    margin-right:5px;
    width: 65px;
}

#popup-modal .btn-block{
    text-align: center;
    width: 100%;
}

#popup-modal .btn-block button{
    width:100px;
}

#popup-modal .modal-body{
    padding: 0 15px;
}
#popup-modal .modal-body-content {
    margin-bottom:10px;
}

.effect2:before, .effect2:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.effect2:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

.main-title {
    background: #fff;
    border-radius: 0;
    clear: both;
    margin-bottom: 5px;
}

.main-title > .title-heading {
    display: inline-block;
    background-color: #fff;
    color: #C32826;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 0 15px;
    line-height: 40px;
    position: relative;
    margin: 0;
    font-weight: bold;
}

.main-title > .title-heading a {
    color: #C32826;
}

.single .sidebar {
    margin-top: 10px;
}

.single .main-title > .title-heading {
    padding: 5px 15px;
    line-height: 25px;
}

.single .content-detail .thumbnail-img, .single .content-detail .detail-summary, .single .content-detail .detail-content {
    padding-left: 0;
    padding-right: 0;
}

.single .content-detail .detail-summary {
    margin-top: 10px;
}

.single .content-detail .detail-summary blockquote {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.single .content-detail .detail-content h3 {
    font-size: 16px;
    background: #f4f4f4;
    padding: 5px;
    margin: 0 0 10px;
}

.btn-contact {
    text-align: center;
}

.btn-contact .btn-flat {
    padding: 5px 20px;
    background: #003770;
    color: #fff;
}

.main-title:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background: #003770;
    width: 5px;
    height: 40px;

}

#result_contact {
    clear: both;
}

#result_contact img, #signinResult img, #loginResult img, #registerResult img, #forgotpassResult img, #profileResult img, #changepassResult img, #captchaContact, #result_recruitment img, #captchaRollupInpage img, #registerResultInpage img {
    margin: 0;
}

.trans-extra-in {
    /*left: 252px;*/
    left: 0;
    transition: all .4s;
}

.trans-extra-out {
    left: 0;
    transition: left .4s;
}

.captcha_register {
    margin-left: 30px;
}

#captchaSignin, #captchaRegister, #captchaForgotpass, #captchaRollupInpage {
    margin-left: 0;
    width: 100px;
}

small.note {
    margin-left: 10px;
}



.main-menu .menu-wrap .dropdown-menu li a {
    font-size: 15px;
    text-transform: none !important;
    font-weight: bold;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background: #fff;
    color: #68b901
}

.wrapper2 .dropdown-menu > li > a:focus, .wrapper2 .dropdown-menu > li > a:hover {
    color: #b48a33
}

ul.nav li:hover > ul.dropdown-menu {
    display: block
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown b.fa {
    position: absolute;
    right: 15px;
    top: 0;
    padding: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
}

.dropdown-submenu {
    position: static
}

.dropdown-submenu > .dropdown-menu {
    min-height: 228px;
    top: -3px;
    left: 100%;
}

.top-panel .navbar-nav {
    float: right !important;
}

.top-panel .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #222;
}

.change-captcha {
    clear: both;
    padding-left: 15px;
}

.clearfix {
    clear: both;
}

.field-required:after {
    content: "Lưu ý: Các trường có dấu * không được để trống";
    font-size: 13px;
    color: #999;
}

#rollup .field-required:after, #profile .field-required:after {
    padding-left: 15px;
}

.active-content {
    background: rgba(244, 244, 244, 0.48);
    padding: 1px;
}

.active-content > .container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ebebeb;
    background: #fff;
    box-shadow: 0px 0px 50px #ebebeb;
}

.note-success {
    color: green;
    font-weight: bold;
}

#contact_map {
    height: 400px;
    width: 100%;
    border: 1px solid #ddd;
}

.ibread {
    background-color: #f5f5f5;
    border-radius: 0;
    margin-top: 40px;
}

.ibread > .container {
    padding-left: 0;
    padding-right: 0;
}

.ibread > .container > .breadcrumb {
    margin-bottom: 0;
    padding: 8px 0;
}

.contact-extra {
    margin: 20px 0;
    text-align: justify;
}

.mar-bot-10 {
    margin-bottom: 10px;
}

.article-relation {
    margin-top: 20px;
    border: 1px solid #e9ebee;
    overflow: hidden;
}

.list-relation {
    background: #fff;
}

.article-relation ul {
    margin: 10px;
}

.article-relation ul li i {
    font-size: 12px;
    color: #666;
}

.article-relation ul li a {
    color: #222;
}

.article-relation ul li a:hover {
    color: #72bf44;
}

.article-relation h5 {
    display: inline-block;
}

.dropdown-menu > li > a {
    font-size: 12px;
}

.article-comment {
    margin-top: 20px;
    border: 1px solid #e9ebee;
    background: #fff;
    overflow: hidden;
}

.article-share {
    text-align: right;
}

.article-share, .article-tag {
    padding: 0 5px 15px 10px;
    background: #fff;
}

.article-share a {
    font-size: 10px;
    vertical-align: top;
    margin-top: 2px;
    margin-right: 5px;
}

/* Share */
.btn-twitter {
    background: #00acee;
    color: #fff
}

.btn-twitter:link, .btn-twitter:visited {
    color: #fff
}

.btn-twitter:active, .btn-twitter:hover {
    background: #0087bd;
    color: #fff
}

.btn-facebook:link, .btn-facebook:visited {
    color: #fff
}

.btn-facebook:active, .btn-facebook:hover {
    background: #30477a;
    color: #fff
}

.btn-googleplus {
    background: #e93f2e;
    color: #fff
}

.btn-googleplus:link, .btn-googleplus:visited {
    color: #fff
}

.btn-googleplus:active, .btn-googleplus:hover {
    background: #ba3225;
    color: #fff
}

.content-detail {
    background: #fff;
}

.content-detail, .page-content {

    color: #000;
    padding: 10px;
    font-size: 15px;
    overflow: hidden;
    text-align: justify;
}

.page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6 {
    margin-bottom: 10px;
}

.archive .main-title {
    margin-bottom: 0;
}

.sidebar-1, .sidebar-2 {
    border: 1px solid #ddd;
    margin-top: 10px;
}

.sidebar-1 .panel, .sidebar-2 .panel {
    margin-bottom: 0;
    border: none;
}

.sidebar-1 {
    margin-top: 0;
}

.sidebar-3 .list-group-item {
    border: none;
    border-top: 1px dashed #ddd;
    border-radius: 0;
}

.sidebar-3 .list-group {
    margin-bottom: 0;
}

.list-group-item a {
    color: #222;
    font-size: 14px;
    font-weight: bold;
}

.list-group-item a:hover {
    color: #AF1D0D;
}

.form-control, .input-group-addon {
    border-radius: 0;
}

.mar-top-20 {
    margin-top: 20px;
}

.amount_search {
    color: #222;
    display: inline-block;
    padding: 0px 0 10px 10px;
}

.newsletter .left i, .newsletter .right i {
    padding: 25px 35px;
    background: #698a33;
    border-radius: 100%;
    border: 5px solid rgba(255, 255, 255, .15);
    font-size: 23px;
    margin-bottom: 10px;
}

.newsletter .right i {
    padding: 25px;
}

.footer-webname {
    color: #34be01;
    font-size: 18px;
    margin-bottom: 5px;
}

.footer-hotline {
    color: #34be01;
    font-size: 16px;
}

.footer-social > div {
    margin-top: 10px;
}
.footer-social p.title{
    margin-bottom: 0;
}
.footer-social .my-btn-social {
    margin: 0 0 10px;
    display:flex;
}

.footer-social .my-btn-social a {
    flex: 1 1 auto;
    justify-content: center;
}
.footer-social i.fa {
    color: #fff;
    /*width: 36px;
    height: 36px;*/
    font-size: 16px;
    line-height: 36px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 100%;
    /*border: 2px solid;*/
}

.wrapper2 .footer-social i.fa {
    /*margin: 0 0 0 10px;*/
    /*border-color: #222;*/
}

.footer-social i.fa-facebook {
    background: #3b5998;

}

.footer-social i.fa-facebook:hover {
    background: rgba(59, 89, 152, 0.77);
}

.footer-social i.fa-google-plus {
    background: #d0422a;
}

.footer-social i.fa-google-plus:hover {
    background: rgba(208, 66, 42, 0.75);
}

.footer-social i.fa-pinterest {
    background: #d0422a;
}

.footer-social i.fa-pinterest:hover {
    background: rgba(208, 66, 42, 0.75);
}

.footer-social i.fa-instagram {
    background: #d042cb;
}

.footer-social i.fa-instagram:hover {
    background: #d042cbbf;
}

.footer-social i.fa-youtube {
    background: #dd2c28;
}

.footer-social i.fa-youtube:hover {
    background: rgba(208, 66, 42, 0.75);
}

.footer-social i.fa-twitter {
    background: #4ebeed;
}

.footer-social i.fa-twitter:hover {
    background: rgba(78, 190, 237, 0.78);
}

.footer-social i.fa-skype {
    background: #00AFF0;
}

.footer-social i.fa-skype:hover {
    background: rgba(78, 190, 237, 0.78);
}

.footer-keyword a {
    background: rgba(255, 255, 255, 0.68);
    color: #222;
    padding: 3px;
    margin: 0 3px 0 0;
}

.footer-keyword {
    text-align: justify !important;
}

.footer-keyword h4 {
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
}

.footer-keyword a:hover {
    background: #ebebeb;
}

.main-item-3 {
    margin-top: 10px;
    background: #fff;
}

.main-item-3 .item {
    margin: 5px 4px -2px 4px;
}

._2p3a, .uiScaledImageContainer _2zfr {
    width: 100% !important;
}

.single .main-title {
    margin-bottom: 0;
}

/***extra***/
.page-content ol, .page-content ul, .content-content ol, .content-detail ul {
    padding: 0 40px;
}

.page-content li, .content-detail li {
    list-style: inherit;
}

.article-tag a {
    background: #ebebeb;
    padding: 1px 5px;
    color: #333;
    margin: 3px;
    display: inline-block;
}

.article-tag a:hover {
    background: #f4f4f4;
}

/*** begin: box-utilities ***/
.box-utilities {
    margin-top: 50px;
}

.box-utilities .box {
    border: 1px solid #ddd;
    background: #fff;
    padding: 10px;
    margin-bottom: 6px;
    overflow: hidden;
}

.box-utilities .box i {
    font-size: 40px;
    border: 3px solid #003770;
    border-radius: 100%;
    color: #003770;
    float: left;
    margin-right: 10px;
    height: 65px;
    width: 65px;
    text-align: center;
    padding-top: 8px;
}

.box-utilities .box h2 {
    font-size: 18px;
}

.box-utilities .box p {
    margin: 0;
}

/*** end: box-utilities ***/

.archive .sidebar {
    margin-top: 10px;
}

.sub-title-heading {
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
    line-height: 20px;
    border: 1px solid #ccc;
    overflow: hidden;
    margin: 10px 0px;
    background: rgba(244, 244, 244, 0.45);
}

.sub-title-heading-homepage {
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
    line-height: 20px;
    overflow: hidden;
    background: #fff;
}

/*pagination*/
.pagination {
    padding-top: 20px;
    display: block;
    font-size: 18px;
    clear: both;
    text-align: center;
}

.pagination a {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    color: #000;
    text-align: center;
    background-color: #f4f4f4;
    margin-right: 5px;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #AF1D0D;
    color: #fff;
    border-color: #AF1D0D;
}

.info-bottom {
    padding: 10px;
    border: 1px solid #ccc;
    background: #f8f8f8;
}

.info-bottom strong {
    font-size: 18px;
    color: #C32826;
}

.container-wrap {
    padding-right: 15px;
    padding-left: 15px;
}

/* home-about */
.home-about {
    clear: both;
    padding-top: 3% !important;
    font-size: 16px;
}

.home-about .content-left h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}

.home-about .content-left {
    border: 2px solid #68b901;
    color: #68b901;
    padding: 10px;
    font-weight: bold;
    margin: 15px;
}
.wrapper2 .home-about{
    text-align: center;
}
.wrapper2 .home-about .content-left {
    border: none;
    padding: 0;
}

.home-about .content-left .about-title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px
}

.home-about .content-right {
    margin-top: 20px;
}

.home-about .content-right .box {
    clear: both;
    margin-bottom: 10px;
    overflow: hidden;
}

.home-about .content-right .box .featured-icon {
    float: left;
    padding-top: 3%
}

.home-about .content-right .box .featured-content {
    float: right;
    width: 85%;
}

.wrapper2 .home-about .content-right .box .featured-content {
    width: 100%
}

.home-about .content-right .box .featured-content h2 {
    font-size: 22px;
    margin-bottom: 10px
}

.home-about .content-right .box .featured-content p {
    color: #999
}

.wrapper2 .home-about .content-right .box .featured-content p.title{
    color: #2BA94A;
    font-size: 28px;
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 20px;
}

.wrapper2 .home-about .content-right .box .featured-content p, .wrapper2 .home-about .content-right .box .featured-content p.readmore a {
    color: #2BA94A
}

.wrapper2 .home-about .content-right .box .featured-content p.readmore {
    background: #6abf16;
    border: 1px solid #6abf16;
    display: inline-block;
    padding: 2px 10px;
    font-size: 14px;
}
.wrapper2 .home-about .content-right .box .featured-content p.readmore a{
    color: #fff;
}
.wrapper2 .home-about .content-right .box .featured-content p.readmore:hover {
    background: #2ba94a;
}

.wrapper2 .home-about .content-right .box .featured-content p.readmore:hover a {
    color: #fff;
}

.wrapper2 .home-about .content-right .box .featured-content p:nth-child(2) {
    height: 255px;
    overflow: hidden;
}

/* home-service */
.home-service {
    clear: both;
    padding-top: 3% !important;
    font-size: 16px;
}

.home-service .title {
    text-align: center;
    margin-bottom: 15px
}

.home-service .title:after {
    content: '';
    border: 2px solid #68b901;
    width: 50%;
    display: inline-block;
    margin-bottom: 10px;
}

.wrapper2 .home-service .title:after {
    border: 2px solid #999;
}

.home-service .title h2 {
    color: #68b901;
    margin-bottom: 10px
}

.wrapper2 .home-service .title h2 {
    color: #222;
    font-size: 24px
}

.home-service .title p {
    color: #666
}

.wrapper2 .home-service .title p{
    color: #222
}

.home-service .box-item {
    text-align: center;
    margin-bottom: 20px;
}

.wrapper2 .home-service .box-content {
    /*background: #2BA94A;*/
    background: #6abf16;
    color: #222;
    padding: 5px;
}

/*.wrapper2 .home-service .box-item {*/
    /*padding: 0*/
/*}*/

.wrapper2 .home-service .box-content p {
    font-size: 14px;
}

.home-service .box-item h3 {
    margin: 10px 0;
}

.home-service .box-item h3 a {
    color: #68b901;
    font-weight: normal;
    font-size: 20px;
}

.wrapper2 .home-service .box-item h3 a, .wrapper2 .home-service .box-content p.readmore a {
    color: #222;
    font-weight: bold;
}
.wrapper2 .home-service .box-item .box-img{
padding: 15px;
    background: #6abf16;
}
.wrapper2 .home-service .box-item h3{
padding-top:10px;
border-top:1px solid #fff;
}
.wrapper2 .home-service .box-item h3 a {
font-size:18px;
}

.wrapper2 .home-service .box-content p.readmore a {
    border: 1px solid #fff;
    padding: 5px 10px;
    display: inline-block;
}

.wrapper2 .home-service .box-content p.readmore a:hover {
    background: #ffffff0f;
}

.wrapper2 .home-service .box-item img {
    width: 250px;
    border-radius: 100%;
    height: 250px;
}
/*.wrapper2 .home-service {
    background: #6abf16;
}*/
.home-service .box-item .show-desc {
    max-height: 75px;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 4px;
}
.wrapper2 .home-service .box-item .show-desc{
    max-height: 105px;
}
.home-service .box-item p {
    /*height: 100px;*/
    overflow: hidden;
}

/* home-product */
.home-product {
    margin-bottom: 30px;
}

.wrapper2 .home-product {
    padding-top: 3%;
}

.wrapper2 .home-product .content {
    display: none;
}

.home-product .title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
}

.wrapper2 .home-product .title {
    color: #222
}

.wrapper2 .home-product .title p {
    color: #666;
}

.home-product .title h3 {
    margin-bottom: 10px;
    font-size: 30px;

}

.home-product .menu {
    margin-bottom: 3%;
    text-align: center;
    clear: both
}

.home-product .menu ul {
    margin-bottom: 20px;
    overflow: hidden;
}

.home-product .menu li {
    border: 1px solid #76b51b;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 5px;

}

.wrapper2 .home-product .menu li {
    margin-right: 0;
    padding: 5px 10px;
    border: 1px solid #2ba94a;
}

.home-product .home-product-content {
    display: none;
}

.home-product .menu li.active, .home-product .menu li:hover {
    background: #76b51b;
    color: #fff
}

.wrapper2 .home-product .menu li.active, .wrapper2 .home-product .menu li:hover {
    border: 1px solid #6abf16;
    border-radius: 0;
    background: #6abf16;
    color: #FFF;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 13px;
}

.wrapper2 .home-product .menu li {
    border-radius: 0;
    color: #666;
    font-size: 13px;
    text-transform: uppercase;
}

.home-product .product-item {
    position: relative;
}

.home-product .product-pad0 {
    padding: 0 2px;
}

.home-product .product-item h4 {
    text-align: center;
    height: 55px;
    overflow: hidden;
}

.home-product .product-item h4 a{
    font-size: 13px;
    color: #666;
}

.wrapper2 .home-product .product-item h4 a {
    color: #2ba94a;
    font-size: 18px;
}

.wrapper2 .home-product .product-item h4 {
    position: static;
    display: block;
    text-align: left;
    margin-bottom: 10px
}

.wrapper2 .home-product .product-item .desc {
    width: 80%;
    position: absolute;
    z-index: 99;
    display: inline-block;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    height: auto;
    bottom: 10px;
    left: 10%;
}

.home-product .product-item .desc p {
    display: none;
}

.wrapper2 .home-product .product-item .desc p {
    color: #2ba94a;
    display: block;
}

.home-product .product-item:before {
    content: '';
    background: transparent;
    margin: 25px;
    text-align: center;
    position: absolute;
    webkit-box-sizing: all;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper2 .home-product .product-item img {
    width: 100%;
    height: 65vh;
}

.wrapper2 .home-product .product-item:before {
    text-align: left;
}

.home-product .product-item:hover {
    cursor: pointer;
}

.home-product .product-item:hover:before {
    display: none;
    background: #6f6f6f52;
    border: 2px solid #68b901;
}

.wrapper2 .home-product .product-item:hover:before {
    display: none;
}

.home-product .product-item:hover h4 {
    display: block;
    /*top: 40%;*/
    /*left: 15%*/
}

.wrapper2 .home-product .product-item:hover h4 {
    position: static;
}

.home-product .product-big-size img{
    width: 100%;
}

.home-product .product-big-size:before {
    width: 94% !important;
    height: 85%;
}

.home-product .product-big-size:hover h4 {
    top: 40%;
    left: 30%;
}

/* home-process */
.home-process {
    padding: 3% 8% !important;
    margin-top: 1%;
    background: #f4f4f4;
}

.home-process .title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
}

.home-process .item-process {
    margin-bottom: 35px
}

.home-process .featured-img {
    text-align: center;
}

.home-process .featured-img span {
    position: absolute;
    top: -15px;
    left: 40%;
    border: 2px solid orange;
    background: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.home-process .featured-img i {
    border-radius: 50%;
    border: 2px solid #68b901;
    padding: 35px;
    color: orange;
    background: #fff;
}

.home-process h4 {
    text-align: center;
    margin-top: 5px;
    font-size: 30px;
}

.home-process p {
    text-align: center;
    margin: 10px 0;
    font-size: 16px;
}

/* home-video */
.home-video {
    padding-top: 3% !important;
    margin: 10% 0 0;
}

.home-video-title {
    text-align: center;
    margin: 3% 0 1%;
    font-size: 16px;
}

.home-video-title h4 {
    font-size: 30px;
}
.home-video-title p {
    text-align: center;
    margin: 10px 0;
    font-size: 16px;
}

.home-video .content{
    background: #ebebeb;
}

.home-video .active-video {
    color: #68b901
}

/* home-feedback */
.home-feedback {
    margin-top: 1%;
    padding-top: 5%;
    background: #f4f4f4;
}

.home-feedback .title {
    margin-bottom: 20px;
    font-size: 16px;
    padding-left: 10px;
    text-align: center;
}

.home-feedback .title h4 {
    font-size: 30px;
}

.home-feedback .featured-img {
    width: 20%;
    float: left;
    margin-right: 15px;
}

.home-feedback .content {
    padding-left: 10px
}
.home-feedback .featured-img img {
    border-radius: 50%;
}

.home-feedback .content-feedback {
    float: left;
    width: 70%;
}

.home-feedback .content-feedback p.cus-name {
    color: #68b901;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.35;
    margin-bottom: 5px;
}

/* home-blog */
.home-blog {
    padding-top: 3% !important;
}

.wrapper2 .home-blog {
    padding-top: 10% !important;
}

.home-blog .title {
    margin-bottom: 10px;
    font-size: 16px;
}

.home-blog .title p {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.home-blog .title p a {
    color: #222;
}

.wrapper2 .home-blog .title {
    color: #b48a33;
    text-transform: uppercase;
    text-align: center;
}

.home-blog .home-blog-row {
    padding: 0;
    position: relative;
}

.post-relation-content {
    position: relative;
}

.post-relation-content .relation-item {
    padding:0;
    margin-bottom:10px;
}

.post-relation-content .relation-item p.title {
    margin: 5px 0;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
}

.post-relation-content .relation-item p.title a {
    color:#68b901;
    font-size: 16px;
}

.post-relation-content .relation-item p.desc {
    height: 70px;
    overflow: hidden;
}

.wrapper2 .post-relation-content .relation-item p.title a {
    color: #2ba94a
}

.home-blog .home-blog-row .owl-prev, .post-relation-content .owl-prev, .home-product2 .owl-prev{
    position: absolute;
    top: 40%;
    left: 10px;
    background: #ebebeb96;
    padding: 5px 15px;
    color: #666;
    cursor: pointer;
}
.home-blog .home-blog-row .owl-next, .post-relation-content .owl-next, .home-product2 .owl-next{
    position: absolute;
    top: 40%;
    right: 10px;
    background: #ebebeb96;
    padding: 5px 15px;
    color: #666;
    cursor: pointer;
}

.home-blog .item-blog {
    padding: 5px
}

.home-blog2 .item-blog {
    padding: 5px 10px;
}

.home-blog .featured-img img {
    width: 100%;
}

.home-blog .content-blog {
    background: #f4f4f4;
    font-size: 16px;
    padding: 10px
}

.home-blog .content-blog .height50 {
    height: 50px;
    overflow: hidden;
}

.home-blog .content-blog a.title {
    color: #68b901;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
}

.wrapper2 .home-blog .content-blog, .wrapper2 .home-blog .content-blog a.title {
    background: #6abf16;
    color: #fff;
    font-size: 15px;
}

.home-blog .content-blog .readmore {
    text-align: right;
}

.wrapper2 .home-blog .content-blog .readmore {
    text-align: center;
}

.wrapper2 .home-blog .content-blog .readmore a {
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    display: inline-block;
}

.wrapper2 .home-blog .content-blog .readmore a:hover {
    background: #ffffff0f;
}

/* home-contact */
.home-contact {
    padding-top: 3% !important;
    background: url('../../wp-content/uploads/2017/10/main.html');
    border-bottom: 3px solid #68b901;
}

.wrapper2 .home-contact{
    padding: 0 !important;
    border: none;
}

.home-contact-title {
    padding: 30px 0 20px;
    text-align: center;
    background: #fff;
}

.home-contact-title h4 {
    font-size: 30px;
}

.wrapper2 .home-contact {
    margin-top: 60px;
}

.wrapper2 .home-contact-title {
    display: none;
}

.wrapper2 .home-contact-form {
    background: url('../../../sagohati.com/wp-content/themes/sagohati/image/bg-register.jpg');
    padding: 3% 0 !important;
    text-align: center;
}

.wrapper2 .home-contact-form h3 {
    margin-bottom: 10px
}

.wrapper2 .home-contact-form .content {
    background: rgba(0, 0, 0, 0.56);
    padding: 30px;
    color: #2ba94a;
}

.wrapper2 .home-contact-form .content .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid #2ba94a;
    color: #fff;
}

.wrapper2 .home-contact-form .content .form-control:focus {
    box-shadow: none;
}

.wrapper2 .home-contact-form .content .btn {
    background: none;
    border: 1px solid #fff;
    font-size: 14px;
    color: #fff
}

.wrapper2 .home-contact-form .content .btn:hover {
    background: #2ba94a;
    border-color: #2ba94a;
    color: #fff;
}

.wrapper2 .home-contact-form .w50 {
    width: 49%;
}

.wrapper2 .home-contact-form .w50-left {
    float: left;
}

.wrapper2 .home-contact-form .w50-right {
    float: right;
}

.home-contact .content {
    padding: 20px;
}

.wrapper2 .home-contact .content {
    display: none;
}

.home-contact .contact-form {
    background: #fff;
    padding: 30px;
}

.main-footer {
    padding-top: 3% !important;
}

.wrapper2 .main-footer {
    padding: 1% 8% !important;
    color: #fff
}

.main-footer .footer-info {
    margin-bottom: 10px;
    overflow: hidden;
}

.wrapper2 .main-footer .footer-info {
    margin-bottom: 0;
}

.main-footer .footer-info ul li a {
    color: #68b901;
    font-size: 15px
}

.wrapper2 .main-footer .footer-info ul li a {
    color: #b48a33
}

.main-footer .footer-info .item-blog {
    clear: both;
}

.main-footer .footer-info .item-blog img {
    float: left;
    width: 100px;
    margin: 0 10px 15px 0;
}

.main-footer .footer-info .item-blog a {
    color: #68b901;
}

.wrapper2 .main-footer .footer-info .item-blog a {
    /*color: #b48a33*/
    color: #fff
}

.ibread .breadcrumb {
    margin-bottom: 0;
    background: #eaeaea;
    overflow: hidden;
    max-height: 64px;
}

.wrapper2 .ibread .breadcrumb {
    background: none;
}

.ibread .breadcrumb a {
    color: #68B901;
}

.wrapper2 .ibread .breadcrumb a {
    color: #2ba94a
}

.sidebar-phone, .sidebar-address, .sidebar-email {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px 10px 30px 20px
}

.sidebar-phone h3, .sidebar-address h3, .sidebar-email h3 {
    font-size: 20px;
}

.sidebar-phone a, .sidebar-email a {
    color: #68B901;
    margin-top: 10px;
    display: block;
    font-size: 18px
}

.sidebar-phone p.icon, .sidebar-email p.icon {
    color: #68B901;
    text-align: right;
    margin-top: -60px;
    margin-right: 10px;
    font-size: 25px
}

.sidebar-address p.icon {
    color: #68B901;
    text-align: right;
    margin-top: -25px;
    margin-right: 10px;
    font-size: 25px
}

.wrapper2 .sidebar-phone a, .wrapper2 .sidebar-email a, .wrapper2 .sidebar-phone p.icon, .wrapper2 .sidebar-email p.icon, .wrapper2 .sidebar-address p.icon {
    color: #2ba94a
}

.post-detail h1, .post-detail h2, .post-detail h3, .post-detail h4, .post-detail h5, .post-detail h6 {
    margin-bottom: 10px;
    text-align: left;
}

.post-detail h1 {
    font-size: 19px
}

.post-detail h2 {
    font-size: 17px
}

.post-detail h3 {
    font-size: 16.5px
}

.post-detail h4 {
    font-size: 16px
}

.post-detail h5 {
    font-size: 15.5px
}

.post-detail h6 {
    font-size: 15px
}

.post-title {
    color: #68b901;
    margin-bottom: 10px;
}

.wrapper2 .post-title {
    color: #2ba94a;
}

.wrapper2 #contact_form .btn {
    background: none;
    border: 1px solid #2ba94a;
    color: #2ba94a;
    padding: 5px 10px;
    font-size: 14px;
}

.wrapper2 #contact_form .btn:hover {
    color: #fff;
    background: #2ba94a;
}

.post-detail {
    font-size: 15px;
    max-width: 100%;
    overflow: hidden;
    text-align: justify;
}

.post-detail ul, .post-detail ol {
    margin-left: 40px;
}

.post-detail ul li, .post-detail ol li {
    list-style: inherit;
}

.post-detail a, .post-detail .sitemap-unlink {
    color: #68b901;
}

.post-detail a:hover {
    color: #467d00
}

.sitemap-page ul li {
    line-height: 28px;
}

.sitemap-page a {
    font-size: 16px
}

.post-detail h2 {
    font-size: 24px
}

.item-gallery {
    margin-bottom: 10px
}

.post-album, .ranking {
    clear: both
}

.post-album .title-album {
    height: 45px;
    overflow: hidden;
    display: block;
    text-align: center;
}

.post-album .item-album {
    padding-left: 0;
    padding-right: 10px;
    margin: 10px 0;
}

.post-album .item-album h3 {
    text-align: center;
}

.post-album .item-album h3 a {
    color: #333;
    font-size: 16px;
    font-weight: normal;
}

.wrapper2 .post-album .item-album h3 a {
    color: #B48A33;
}

.ranking {
    margin-bottom: 10px;
}

.ranking .line-ranking {
    display: block;
    color: #999;
}

.ranking .ranking-title, .sharer .sharer-title {
    color: #68b901;
    margin-bottom: 10px;
}

.wrapper2 .ranking .ranking-title, .wrapper2 .sharer .sharer-title {
    color: #222
}

.ranking .line-ranking:hover, .ranking .active {
    color: #ffff00;
    cursor: pointer;
    }

.ranking .line-ranking i {
    font-size: 20px;
    margin-right: 5px
}

.sharer {
    margin-bottom: 20px;
    overflow: hidden;
}

.sharer .sharer-title, .sharer a {
    float: left;
    margin-right: 15px;
    line-height: 32px;
    font-size: 18px;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
}

.sharer a img {
    width: 32px;
}

.post-contact, .post-comment {
    clear: both;
    margin-top: 20px;
}

.post-contact {
    border: 2px dashed #68b901;
    border-radius: 4px;
    padding: 20px;
    font-size: 15px;
}

.post-contact .post-contact-title {
    color: #68b901;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
}

.post-contact p i.fa {
    color: #68b901;
    margin-right: 10px;
    font-size: 20px
}

.post-contact p a {
    color: #68b901;
}

.wrapper2 .post-contact .post-contact-title, .wrapper2 .post-contact p i.fa, .wrapper2 .post-contact p a {
    color: #222
}

.post-relation {
    margin-top: 20px
}

.post-relation .post-relation-title {
    color: #68b901;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.post-relation ul li {
    line-height: 25px;
}

.post-relation ul li a {
    color: #68b901;
}

.wrapper2 .post-relation ul li a, .wrapper2 .post-relation .post-relation-title {
    color: #222;
    font-size: 18px;
    font-weight: bold;
}

.sidebar-search {
    margin-top: 5px;
    position: relative;
}

.wrapper2 .sidebar-search .btn {
    background: #68b901;
    border-color: #3c763d;
}

.sidebar-search input[type='text'] {
    padding: 4px;
    width: 100%
}

.sidebar-search button[type='submit'] {
    position: absolute;
    right: -4px;
    height: 36px;
    line-height: 25px;
    top: 0;
}

.sidebar-category {
    margin-top: 20px;
}

.sidebar-category .sidebar-category-title {
    padding: 10px;
    background: #3c763d;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

.sidebar-category a.menu {
    background: linear-gradient(#62a909, #559602);
    cursor: pointer;
    display: block;
    padding: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.wrapper2 .sidebar-category a.menu {
    background: #2ba94a;
}

.sidebar-category a.menu i.fa {
    margin: 0 10px;
}

.sidebar-category a.menu i.right {
    float: right;
    line-height: 25px;
}

.sidebar-category a.menu-open i.right {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sidebar-category .submenu {
    text-decoration: none;
    color: #d9d9d9;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar-category .submenu li {
    background: #3d5021;
    padding: 5px;
}

.sidebar-category .submenu li:hover {
    background: #24330e;
}

.sidebar-category .submenu a {
    color: #fff;
}

.sidebar .affix-bottom {
    z-index: 9;
    position: initial !important;
}

/*** version 2 ***/
.wrapper2 .top-header {
    display: none;
    height: 0;
    border: 0;
}

.wrapper2 .logo {
    margin-top: -23px
}

.wrapper2 .flag-lang a {
    float: left
}

.wrapper2 .flag-lang a img {
    width: 16px;
    height: 16px;
}

.home-partner .title {
    text-align: center;
    color: #222;
    margin-bottom: 20px;
}

.home-partner .title p {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    line-height: 1.35;
    margin: 0;
    font-size: 30px;
}

.search-page {
    font-size: 15px;
}

.search-page li {
    line-height: 25px;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.search-page span {
    color: #999
}

.search-page a {
    color: #68b901;
}

.wrapper2 .search-page a {
    color: #b48a33;
}

.sitemap {
    margin-left: 20px;
    font-weight: bold
}

#goog-gt-tt, .goog-te-banner-frame {
    display: none !important;
}

.goog-te-menu-value:hover {
    text-decoration: none !important;
}

body {
    top: 0 !important;
}

#google_translate_element2, .skiptranslate {
    display: none !important;
}

.wrapper1 .header-lang .flag-lang {
    vertical-align: middle;
}
.header-lang .flag-lang a {
    display: inline-block;
    margin-right: 15px;
    vertical-align: text-top;
}

.home-video-relation-box {
    margin-top: 10px;
    padding: 0;
    background: #ebebeb;
    overflow: hidden;
}

.home-video-relation img {
    margin-bottom: 10px;
    cursor: pointer;
}

.home-video-relation p {
    height: 50px;
    overflow: hidden;
    margin-bottom: 15px;
}

.bg-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.big-video-youtube {
    padding: 0;
    height: 500px;
    background-size: cover !important;
}
.big-video-youtube, .home-video-relation {
    position: relative;
    cursor: pointer;
    background: #ebebeb;
}

.big-video-youtube i.fa, .home-video-relation i.fa, .youtube-channel i.fa {
    color: #fff;
    font-size: 25px;
    background: #f00;
    opacity: .6;
    border-radius: 5px;
    padding: 10px 20px;
}

.home-video-relation i.fa{
    font-size: 10px;
}

.big-video-youtube:hover i.fa, .home-video-relation:hover i.fa, .youtube-channel:hover i.fa {
    opacity: 1;
}

.big-video-youtube i.fa:hover, .home-video-relation i.fa:hover, .youtube-channel i.fa:hover {
    animation: heartBeat 1s;
}

.youtube-channel {
    position: relative;
    cursor: pointer;
}
.youtube-channel i.fa {
    padding: 0 30px;
    font-size: 15px;
    width: auto;
}

#rating p{
    color: #68b901;
    font-size: 18px;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
}
.wrapper2 #rating p{
    color: #666;
}

.jqEmoji-container {
    margin-top: 10px;
}

.jqEmoji-container span{
    color: #222;
    margin-right: 5px;
    cursor: pointer;
}

.main-content-detail {
    padding: 0
}

.dropdown-menu {
    position: inherit;
    width: 100%;
}

.footer-facebook {
    text-align: center;
}


/*** jssor ***/
/* jssor slider loading skin spin css */
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.jssora106 {display:block;position:absolute;cursor:pointer;}
.jssora106 .c {fill:#fff;opacity:.3;}
.jssora106 .a {fill:none;stroke:#000;stroke-width:350;stroke-miterlimit:10;}
.jssora106:hover .c {opacity:.5;}
.jssora106:hover .a {opacity:.8;}
.jssora106.jssora106dn .c {opacity:.2;}
.jssora106.jssora106dn .a {opacity:1;}
.jssora106.jssora106ds {opacity:.3;pointer-events:none;}

.jssort101 .p {position: absolute;top:0;left:0;box-sizing:border-box;background:#000;}
.jssort101 .p .cv {position:relative;top:0;left:0;width:100%;height:100%;border:2px solid #000;box-sizing:border-box;z-index:1;}
.jssort101 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;visibility:hidden;}
.jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {border:none;border-color:transparent;}
.jssort101 .p:hover{padding:2px;}
.jssort101 .p:hover .cv {background-color:rgba(0,0,0,6);opacity:.35;}
.jssort101 .p:hover.pdn{padding:0;}
.jssort101 .p:hover.pdn .cv {border:2px solid #fff;background:none;opacity:.35;}
.jssort101 .pav .cv {border-color:#fff;opacity:.35;}
.jssort101 .pav .a, .jssort101 .p:hover .a {visibility:visible;}
.jssort101 .t {position:absolute;top:0;left:0;width:100%;height:100%;border:none;opacity:.6;}
.jssort101 .pav .t, .jssort101 .p:hover .t{opacity:1;}
/*** end: jssor ***/

.fb_iframe_widget_lift {width: 100% !important;}
#rating, #rating_count {
    margin-bottom: 10px;
}
#rating a {
    font-size: 25px;
    padding-right: 10px;
    cursor: pointer;
    color: #FFD119;
    text-decoration: none;
}
.clear-fix {
    clear: both;
}

.post-list-article .item-article{
    padding: 0;
    margin-bottom: 10px;
}

.post-list-article .item-article h4 {
    max-height: 60px;
    overflow: hidden;
    font-size: 16px;
}

.box-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 99;
}
.box-bottom .box-bottom-item {
    text-align: center;
}
.box-bottom a {
    color: #fff
}
.box-bottom ul {
    margin-top: 5px;
}

.box-bottom ul li {
    padding: 0;
    height:50px
}
.box-bottom ul li span{
    display: block;
    font-size: 12px;
    color: #222;
}
.box-bottom ul li i {
    padding: 7px 5px 5px 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid;
}
.box-bottom ul li i.fa-phone {
    background: #68b901;
}
.box-bottom ul li i.fa-comments {
    background: #74CCF1;
}
.box-bottom ul li i.fa-facebook {
    background: #3B5998;
}


.swiper-container {
    width: 100%;
}
.swiper-slide {
    width: 700px;
}

/*** homepage_landscaping ***/
.home-landscaping {
    margin-top: 3%;
}

.home-landscaping .title {
    text-align: center;
}

.home-landscaping .title h2 {
    color: #68b901;
    margin-bottom: 10px;
}
.home-landscaping .title:after {
    content: '';
    border: 2px solid #68b901;
    width: 50%;
    display: inline-block;
    margin-bottom: 10px;
}
.home-landscaping .title p {
    color: #666;
}

.home-landscaping .content {
    margin-top: 2%;
    padding: 0;
}

.home-landscaping .content .landscaping-item{
    margin-bottom: 3%;
    clear: both;
    overflow: hidden;
}

.home-landscaping .content .box-item{
    position: relative;
    padding: 10px
}
.home-landscaping .content .box-item-1:before, .home-landscaping .content .box-item-3:before {
    top: -1.1875em;
    left: -1.1875em;
    width: 125px;
    height: 90px;
    background: #68b901;
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
}
.home-landscaping .content .box-item-2, .home-landscaping .content .box-item-4{
    margin-top: 5%;
}
.home-landscaping .content .box-item-2:before, .home-landscaping .content .box-item-4:before {
    bottom: -0.1875em;
    left: -0.1875em;
    width: 8em;
    height: 6em;
    background: #68b901;
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
}
.home-landscaping .content .box-content{
    position: relative;
    margin-bottom: 10px;
}
.home-landscaping .content .box-content .text-content{
    margin: 10px 0 15px;
    padding-top:10px
}
.home-landscaping .content .box-content .text-content:before {
    content: '';
    position: absolute;
    left: 15px;
    top: 0;
    display: block;
    width: 35%;
    height: 5px;
    background: #97999c;
}

.home-landscaping .content .box-content{
    padding-right: 0;
}

.home-landscaping .content .box-content .text-link {
    text-align: center;
}

.home-landscaping .content .box-content .text-link a{
    border: 1px solid #68b901;
    padding: 10px 20px;
    color: #222
}
.home-landscaping .content .box-content .text-link a:hover {
    background: #68b901;
    color: #fff
}

.lang-mobile .flag-lang{
    display: flex;
}
.lang-mobile .flag-lang a {
    width: 100%;
}
.slideshow {
    margin-top: 50px;
}

.slideshow .item {
    position: relative;
}

.slideshow .item p.desc {
    position: absolute;
    bottom: 20%;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    color: #fff;
    font-size: 1.8em;
    padding: 20px;
    line-height: 33px;
    background-image: linear-gradient(#0003, rgba(0, 0, 0, 0));
}

.slideshow .owl-nav .owl-prev{
    position: absolute;
    left: 10px;
    top: 40%;
    background: #cccccc47;
    padding: 5px 15px;
    color: #ccc;
}

.slideshow .owl-nav .owl-next{
    position: absolute;
    right: 10px;
    top: 40%;
    background: #cccccc47;
    padding: 5px 15px;
    color: #ccc;
}

.home-partsv .title {
    margin: 20px 0;
    text-align: center;
}

.home-partsv .title p {
    font-size: 30px;
    font-weight: bold;
}

.wrapper2 .home-partsv .title p {
    font-size: 28px;
    font-weight: bold;
    line-height: 35px;
}

.wrapper2 .home-partsv .title, .wrapper2 .home-blog .title h2 a {
    color: #222
}

.wrapper2 .home-partsv img {
    /*max-height: 120px;*/
    height: 250px;
	width: 250px;
	border-radius: 100%;
	border: 1px solid #ebebeb;
}
.home-partsv .item-partsv{
    position: relative;
}

.home-partsv .item-partsv .featured-img {
    padding-left: 0;
    padding-right: 5px;
}

.home-partsv .item-partsv .owl-prev {
    position: absolute;
    top: 40%;
    left: 10px;
    background: #ebebeb96;
    padding: 5px 15px;
    color: #666;
    cursor: pointer;
}

.home-partsv .item-partsv .owl-next {
    position: absolute;
    top: 40%;
    right: 10px;
    background: #ebebeb96;
    padding: 5px 15px;
    color: #666;
    cursor: pointer;
}

.wrapper2 header .logo-mobile img {
    width: 11%;
    margin-top: 1px
}

.home-product-item-v2 {
    padding: 0
}

.change-view {
    float:right;
    margin-left:20px;
}

.change-view span {
    margin: 0 5px;
    cursor: pointer;
    font-size: 20px;
}

/*pagination*/
.pagination {
    padding-top: 20px;
    display: block;
    font-size: 18px;
    clear: both;
    text-align: center;
}

.pagination a {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    color: #000;
    text-align: center;
    background-color: #f4f4f4;
    margin-right: 5px;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #5a9d04;
    color: #fff;
    border-color: #5a9d04;
}

.wrapper2 .copy2{
    margin-top: 10px;
}

.logo-footer1 img{
    width:200px;
    height:200px
}

/*** 480px ***/
@media screen and (min-width: 480px) {
    .main-title > .title-heading {
        font-size: 1.3rem;
    }

    .single .main-title > .title-heading {
        line-height: 30px;
    }

    .menu-bottom ul li {
        margin-right: 20px;
    }

    .modal-title {
        font-size: 18px;
    }

    .amount_search {
        position: absolute;
        right: 15px;
        top: 8px;
        padding: 0;
    }

    .search-page .item .item-content {
        padding-left: 15px;
    }

    .main-item .item .item-content {
        padding: 5px 10px;
    }
}

/*** 544px ***/
@media screen and (min-width: 544px) {
    .main-item .item .item-content {
        text-align: center;
        display: block;
    }
}

/*** 768px ***/
@media screen and (min-width: 768px) {
    header .logo-mobile img {
        width: 5%
    }

    .youtube-channel img {
        margin: 0;
    }

    .sub-title-heading {
        margin: 10px 5px;
    }

    .single .content-detail .detail-summary {
        padding-left: 15px;
        margin-top: 0;
    }

    .single .content-detail .detail-content {
        margin-top: 10px;
    }

    .single .content-detail .detail-content ol, .single .content-detail .detail-content ul, .single .content-detail .detail-content dl {
        padding: 0 40px;
    }

    .single .content-detail .detail-content li {
        list-style: inherit;
    }

    .hotline {
        margin-top: 10px;
    }

    header {
        background-size: cover;
        height: 15px;
    }

    .box-utilities {
        margin-top: 5px;
    }

    .box-utilities .box {
        margin: 3px;
        width: 49%;
        height: 90px;
    }

    .search-page .item .featured-img {
        margin-top: 0px;
        padding-left: 0px;
    }

    .archive .item .featured-img {
        margin-top: 0px;
        padding-left: 0px;

    }

    .archive .item .list-news {
        margin-top: 8px;
        padding-left: 8px;
    }

    .header .banner-ads img {
        width: 49%;
    }

    .header .banner-ads img {
        margin: 0 0 0 5px;
    }

    .header .logo .web-title a {
        margin: 6px 0;
        font-size: 25px;
        text-transform: uppercase;
        color: #AB0707;
        text-shadow: 3px 3px 5px #ccc;
        font-weight: bold;
        text-align: left;
    }

    .header .logo h2 {
        font-size: 22px;
        font-weight: normal;
    }

    .slideshow {
        display: block;
        margin-top: -15px;
    }

    .cus-feedback .item {
        margin: 10px 0 15px 0;
    }

    .main-item .item .item-content .title {
        min-height: 48px;
    }

    .main-content {
        margin-top: 8px;
    }

    .main-content > .container-fluid, .course > .container-fluid, .home-about > .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .header {
        padding-top: 10px;
    }

    .main-item .item .item-content {
        text-align: left;
        padding-left: 5px;
        padding-right: 5px;
    }

    .main-item .item .column {
        margin: 5px;
    }

    .webname a {
        display: none;
    }

    .mobile-text {
        position: absolute;
        color: #fff;
        z-index: 999999;
        top: 8px;
        left: 35px;
    }

    .sidebar .media {
        width: 46%;
        float: left;
        min-height: 125px;
        overflow: hidden;
        margin: 12px;
    }

    .btn-social {
        width: 48%;
        margin: 5px;
    }

    .menu-bottom ul li:nth-child(2) {
        float: left;
    }

    .menu-bottom .bottom-extra {
        display: block;
    }

    .sidebar .media:last-child {
        border-bottom: 1px solid #ddd;
    }

    .home-about .home-about-left, .home-about .home-about-right {
        padding-left: 15px;
        padding-right: 15px;
    }

    .home-about h5 {
        margin: 5px 0;
    }

    .main-item-3 .item {
        width: 48%;
        margin-left: 9px;
    }

    .footer-newsletter input {
        width: 88%;
    }
}

/*** 992px ***/
@media screen and (min-width: 992px) {
    .wrapper2 .home-service .title h2 {
        font-size: 30px
    }

    .wrapper2 .home-blog {
        padding-top: 3% !important;
    }
    .wrapper2 .home-about .content-right .box .featured-content p:nth-child(2) {
        height: auto;
        font-size:18px;
        margin-bottom: 20px;

    }
    .wrapper2 .home-about .content-right .box .featured-content {
        /*width: 92%*/
    }
    .wrapper2 .home-product .product-item .desc {
        width: 40%;
        padding: 30px;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        max-height: 150px;
        overflow: hidden;
        bottom: 0;
        top: 70%
    }

    /*.wrapper2 .main-footer .footer-info .footer-company-info {*/
        /*margin-left: 10px;*/
        /*padding-left: 10px;*/
        /*width: 80%;*/
    /*}*/

    .home-product .product-item:hover:before {
        display: block;
    }
    .slideshow .item p.desc {
        text-align: left;
        top: 10px;
        left: 10px;
		bottom: auto;
		width: auto;
    }

    .wrapper2 .slideshow .item p.desc {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        background: #0000007a;
        display: none;
    }

    .home-landscaping .content .box-content .text-link {
        text-align: left;
    }

    .home-partsv {
        margin: 30px 0;
    }
    .home-product .product-item {
        padding-right: 5px
    }

    .home-product .product-pad0 {
        padding: 0;
    }

    .home-product .product-row-2, .home-product .product-big-size {
        padding-left: 5px !important;
    }

    #popup-modal .form-group label {
        text-align: right;
    }

    #popup-modal .form-group {
        width: 50%
    }

    #popup-modal .form-group .form-control{
        width: 75%;
    }

    #popup-modal .btn-block{
        text-align: center;
        width: 100%;
    }

    .home-product .product-item, .home-product .product-row-2, .home-product .product-big-size{
        padding: 0 !important;
    }
    .home-video .content{
        border: 5px solid #68b901
    }

    .home-product .product-item .desc {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
    }

    .home-product .product-item h4 {
        color: #fff !important;
        display: none;
        height: auto;
    }

    .home-product .product-item h4 a{
        color: #fff !important;
        font-size: 18px;
        display: block;
    }

    .wrapper2 .home-product .product-item h4 a{
        color: #2ba94a !important
    }

    .home-product .col-left .product-item img {
        border: 5px solid #fff;
    }

    .wrapper2 .home-product .col-left .product-item img {
        border: none;
    }

    .home-product .product-row-2 img {
        border-right: 5px solid #fff;
    }

    .wrapper2 .home-product .product-row-2 img {
        border: none;
    }

    .home-product .product-row-2:last-child img {
        border: none
    }

    .home-product .product-pad0 {
        border-bottom: none;
    }
    .home-about .content-right {
        margin-top: 0;
    }
    .home-landscaping .content .box-item-2, .home-landscaping .content .box-item-4 {
        margin-top: 0;
    }
    .home-landscaping .title:after {
        width: 8%;
    }
    .sidebar-search {
        margin-top: 0
    }
    .post-list-article .item-article{
        padding-right: 10px;
    }

    .post-list-article .item-article img {
        width: 100%;
        max-height: 162px;
    }

    .post-list-article-list .item-article {
        border: 1px solid #ebebeb;
        background: #f9f9f9;
    }

    .post-list-article h4.title {
        margin: 5px 0;
    }

    .post-list-article-list h4.title {
        min-height: 0;
    }
    .post-list-article p.desc {
        height: 70px;
        overflow: hidden;
    }
    .post-relation-content .relation-item {
        padding-left:0;
        padding-right:10px;
    }
    .home-about .content-left {
        margin: 0;
    }

    .home-blog .home-blog-row {
        display: block !important;
    }

    .post-relation .post-relation-content {
        display: block !important;
    }

    .post-relation .post-relation-content img {
        width: 100%;
        /*max-height: 162px;*/
		height: 250px
		
    }

    .footer-facebook {
        text-align: left
    }
    .dropdown b.fa {
        right: -10px;
        top: 2px;
    }
    .wrapper2 .dropdown b.fa {
        top: -2px;
    }
    .dropdown-menu {
        top: 95%;
        position: absolute;
        width: auto;
    }

    .dropdown {
        margin-right: 10px
    }

    .home-service .title:after {
        width: 8%;
    }
    .home-feedback {
        padding: 3% !important;
    }
    .home-video > .row {
        margin: 20px 20px 50px
    }
    #home-video {
        padding: 50px;
    }

    .home-video-relation {
        padding: 0;
    }
    .home-video-relation img {
        margin-bottom: 0;
        padding-bottom: 6px;
        width: 30%;
        float: left;
    }
    .home-video-relation p {
        width: 65%;
        float: left;
        margin-left: 10px;
        font-weight: bold;
    }
    .big-video-youtube {
        width: 71%;
        border-right: 5px solid #68B901;
    }

    .big-video-youtube img{
        height:500px;
    }

    .home-product .menu ul {
        display: flex;
        justify-content: center;
    }
    .home-product .menu li {
        margin-right: 10px;
    }
    .home-video-relation-box {
        margin-top: 5px;
        margin-left: 10px;
        width: 27%;
    }

    .youtube-channel img {
        margin: 0 auto
    }

    .sidebar .affix-bottom {
        position: relative !important;
    }

    .container-wrap {
        padding: 0 3%;
    }

    .home-product .product-item:before {
        width: 88%;
        height: 85%;
    }

    .dropdown {
        display: inline-block;
    }

    .main-menu .menu-wrap li a {
        color: #222
    }

    .main-menu .menu-wrap li a:hover {
        color: #68b901;
    }

    .wrapper2 .main-menu .menu-wrap li a:hover {
        color: #B48A33
    }

    .wrapper2 .home-product .col-md-offset-1 {
        display: flex;
        justify-content: center;
    }

    .sidebar .affix {
        position: fixed !important;
        top: 100px;
        right: 3%;
        width: 240px;
        z-index: 9;
    }

    .wrapper2 .sidebar .affix {
        top: 50px;
    }

    .logo-mobile {
        display: none;
    }

    header {
        margin-bottom: 0;
    }

    header .header {
        position: inherit;
        width: 100%;
        background: #fff;
    }

    .wrapper2 header .header {
        width: 100%;
        /*background-image: linear-gradient(#000, rgba(0, 0, 0, 0));*/
    }

    .home-service .box-item-center {
        padding-top: 150px !important;
    }

    .home-product .menu li {
        width: auto;
        margin-bottom: 0;
    }

    .home-process .item-process {
        clear: none;
        margin-bottom: 0;
    }

    .home-about .content-right {
        padding-left: 30px;
    }

    .wrapper2 .home-about .content-right {
        padding: 0;
        /*margin-top: 0;*/
    }

    .single .sidebar, .search-page .sidebar {
        margin-top: 0;
    }

    .article-relation, .archive .main-content-1, .search-page .main-content-1 {
        background: #fff;
    }

    .box-utilities .box {
        margin: 0;
        width: 25%;
    }

    .box-utilities .box:hover {
        z-index: 2;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.2);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.2);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.2);
        transition: all 200ms ease-in;
        transform: scale(1.2);
    }

    .box-utilities .box:hover i {
        webkit-transition: all .8s ease;
        -moz-transition: all .8s ease;
        transition: all .8s ease;
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    .main-footer .footer-info p.title, .main-footer .footer-newsletter p.title, .main-footer .footer-social p.title {
        font-size: 16px;
    }

    .footer-newsletter input {
        width: 71%;
    }

    .main-footer .footer-social {
        margin-top: 0;
    }

    .wrapper2 .main-footer .footer-social {
        text-align: right;
    }

    .main-footer .footer-newsletter {
        text-align: center;
    }

    .top-header .top-menu {
        padding-left: 0;
        padding-right: 0;
    }

    .top-header .top-menu li {
        float: left;
        margin-right: 20px;
    }

    .top-header .top-menu li a {
        color: #68b901;
    }

    .top-header .top-menu li a:hover {
        color: #333;
    }

    .header .logo .web-title a {
        font-size: 30px;
    }

    .header .logo h2 {
        font-size: 28px;
    }

    .header .hotline {
        display: flex;
        justify-content: flex-end;
        padding: 0;
    }
    .wrapper2 .header .hotline {
        justify-content: center;
    }

    .header .hotline:hover i {
        webkit-transition: all .8s ease;
        -moz-transition: all .8s ease;
        transition: all .8s ease;
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    .main-content .product {
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0 8px 8px 0;
        width: 32%;
    }

    /* Shine */
    .hover14 figure {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: #fff;
        overflow: hidden;
    }

    .hover14 figure::before {
        position: absolute;
        top: 0;
        left: -75%;
        z-index: 2;
        display: block;
        content: '';
        width: 50%;
        height: 100%;
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
        -webkit-transform: skewX(-25deg);
        transform: skewX(-25deg);
    }

    .hover14 figure:hover::before {
        -webkit-animation: shine .75s;
        animation: shine .75s;
    }

    @-webkit-keyframes shine {
        100% {
            left: 125%;
        }
    }
    @keyframes shine {
        100% {
            left: 125%;
        }
    }


    .menu-search {
        float: right !important;
        margin-top: 8px;
    }

    .menu-search input {
        border: 0;
        padding-left: 3px;
    }

    .menu-search button {
        background: #2a9502;
        border: 0;
        padding: 0 10px;
        color: #fff;
    }

    .menu-search button .glyphicon {
        font-size: 12px;
    }

    .menu-search #search::-webkit-input-placeholder {
        padding-left: 3px;
    }

    .menu-search #search:-moz-placeholder {
        padding-left: 3px;
    }

    .menu-search #search::-moz-placeholder {
        padding-left: 3px;
    }

    .menu-search #search:-ms-input-placeholder {
        padding-left: 3px;
    }

    .mobile-menu-button, .menu-bottom, .webname, .header-search {
        display: none;
    }

    .main-menu {
        position: relative;
        left: auto;
        top: auto;
        width: auto;
        background: #fff;
        height: 40px;
    }

    .main-menu .menu-wrap {
        position: relative;
        left: auto;
        top: auto;
        padding: 0;
        width: 100%;
        background: #6b960b;
    }

    .wrapper2 .main-menu, .main-menu .menu-wrap {
        background: none;
        width: 100%;
        margin-top: -10px;
    }

    .main-menu .menu-wrap > li {
        position: relative;
        display: inline-block;
        float: left;
    }

    .wrapper2 .main-menu .menu-wrap > li {
        margin-right: 5px
    }

    .wrapper2 .main-menu .menu-wrap > li.flag-lang {
        margin-top: 5px
    }

    .menu-wrap > li:first-child {
        /*border-bottom: 2px solid #68b901;*/
    }

    .menu-wrap > li:first-child a i {
        font-size: 16px;
    }

    .wrapper2 .menu-wrap > li:first-child {
        /*border: 1px solid #b48a33;*/
    }

    .main-menu .menu-wrap > li > a {
        border-bottom: 0;
        padding: 5px 5px;
        font-family: "Roboto", sans-serif;
        font-size: 1.2rem;
        color: #000;
        font-weight: bold;
    }

    .main-menu .menu-wrap > li > a:hover {
        color: #68b901 !important;
    }

    .wrapper2 .main-menu .menu-wrap > li > a:hover {
        color: #b48a33 !important;
    }

    .wrapper2 .main-menu .menu-wrap > li > a {
        color: #fff;
        padding: 2px 10px;
        border: 1px solid transparent;
    }
	
	.wrapper2 .main-menu .menu-wrap li.flag-lang a {
		padding: 2px 5px;
	}

    .wrapper2 .main-menu .menu-wrap > li > a:hover {
        color: #fff !important;
        border: 1px solid #fff
    }

    .wrapper2 .main-menu .menu-wrap > li.flag-lang:hover a {
        border: 1px solid transparent;
    }

    .wrapper2 .main-menu .menu-wrap > li > a.logo:hover {
        border: 1px solid transparent;
    }

    .menu-wrap .sub-menu {
        position: absolute;
        top: 40px;
        left: 0;
        min-width: 280px;
        text-align: left;
        z-index: 9999999;
    }

    .wrapper2 .menu-wrap .sub-menu {
        top: 33px
    }

    .menu-wrap .sub-menu li a {
        color: #222 !important;
        font-size: 14px;
        padding-left: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        background-color: #fff !important;
        border-bottom: 1px inset #fff !important;
        text-transform: capitalize;
        font-weight: bold;
    }

    .menu-wrap .sub-menu li a:hover {
        color: #68b901 !important;
    }

    .wrapper2 .sub-menu li a:hover {
        color: #b48a33 !important;
    }

    .menu-wrap li > .sub-menu > li {
        position: relative;
    }

    .menu-wrap li > .sub-menu > li > .sub-menu {
        top: 0;
        left: 100%;
    }

    .main-menu .menu li a {
        font-size: 11px;
    }

    .main-menu .menu-wrap > li > a, .main-menu .menu-wrap .current-menu a {
        padding: 8px 12px;
        font-size: 1.2rem;
    }

    .side-collapse {
        padding-left: 0;
    }

    header {
        height: 75px;
        position: inherit;
        top:45px
    }

    .wrapper2 header {
        position: fixed;
        z-index: 999;
        background-image: linear-gradient(#6abf16, rgba(48, 171, 78, 0));
        /*background: #6abf16;*/
        width: 100%;
        margin-top: 0;
        top: 0;
        padding-top: 10px;
        height: 60px;
    }

    .header {
        padding-top: 10px;
    }
    .wrapper2 .header {
        background: none;
    }

    .box-utilities .box h2 {
        font-size: 14px;
    }

    .box-utilities .box p {
        line-height: 20px;
    }

    .box-utilities .box i {
        border: 2px solid #003770;
        padding-top: 10px;
    }

    .main-content-1 > .main-item section {
        margin-bottom: 10px;
    }

    .btn-contact .btn-flat {
        background: #C32826;
    }

    .btn-contact .btn-flat:hover {
        background: rgba(195, 40, 38, 0.52);
    }

    .main-title > .title-heading {
        font-size: 1.5rem;
    }

    .main-content-detail {
        padding-left: 0;
        padding-right: 15px;
    }

    .sidebar {
        padding-right: 0;
        margin-top: 0;
    }

    .archive .sidebar {
        margin-top: 0px;
    }

    .scroll-to-top {
        position: fixed;
        right: 25px;
        bottom: 150px;
        background-color: rgba(0, 0, 0, .5);
        color: #FFF;
        display: none;
        z-index: 999;
        font-size: 2.2rem;
        text-align: center;
        line-height: 35px;
        width: 35px;
        height: 35px;
        -ms-transition: background-color .3s linear;
        -webkit-transition: background-color .3s linear;
        -moz-transition: background-color .3s linear;
        -o-transition: background-color .3s linear;
        transition: background-color .3s linear;
        cursor: pointer;
    }

    .after-footer {
        padding-bottom: 0;
        margin-top: 20px;
    }

    .newsletter .content {
        left: 50%;
    }

    .newsletter input {
        width: 60%;
    }

    .main-menu {
        top: 0;
        border: none;
    }

    .main-content {
        margin: 15px 0 0;
        padding-bottom: 20px !important;
        border-bottom: 2px solid #68b901;
    }

    .wrapper2 .main-content {
        color: #222;
        border-bottom: 2px solid #fff;
    }

    .sidebar .media {
        width: 100%;
        float: none;
        min-height: 100px;
        overflow: hidden;
        margin: 0 0 15px 0;
        padding-bottom: 0;
    }

    .sidebar .media:last-child {
        border: none;
        margin-bottom: 0;
    }

    .sidebar-2, .sidebar-3, .sidebar-4 {
        width: 100%;
        float: none;
    }

    .header .logo {
        padding-left: 15px;
        padding-right: 15px;
        height: auto;
    }

    .main-item-1, .main-item-2 {
        background: #fff;
    }

    .main-item-2 {
        margin-top: 10px;
    }

    .main-item .item .column {
        background: #f9f9f9;
        border: none;
    }

    .shift_date label {
        min-width: 50% !important;
    }

    .sidebar .media-body {
        padding-right: 3px;
    }

    .home-about .home-about-left {
        padding-left: 0px;
    }

    .home-about .home-about-right {
        padding-right: 0px;
    }

    .slideshow {
        display: block;
        margin-top: 0;
    }

    .wrapper2 .slideshow img {
        width: 100%;
        height: 100vh;
    }

    .wrapper1 .slideshow img {
        height: 82vh;
        width: 100%;
    }

    .ibread {
        display: block;
        margin-top: 0;
        background: #eaeaea;
        color: #68b808;
        font-size: 16px;
        clear: both
    }

    .wrapper2 .ibread {
        background: none;
        color: #2ba94a;
        padding-top: 70px;
    }

    .header > .container {
        padding-top: 0;
    }

    .newsletter {
        padding-top: 8%;
    }

    .main-item .item .item-content {
        padding-left: 10px;
        padding-right: 10px;
    }

    .top-search {
        color: #68b901;
        text-align: right;
    }

    .top-search a {
        color: #68b901;
    }

    .top-search form {
        height: 30px;
        overflow: hidden;
        line-height: 30px;
    }

    .top-search input {
        border-top: 1px solid #ccc;
        width: 80%;
        padding-left: 5px;
    }

    .top-search button {
        background: #AB0707;
        color: #fff;
        padding: 0 10px;
        border: 0;
    }
}

/*** begin: menu mobile ***/
@media screen and (max-width: 992px) {

    .wrapper {
        width: 100%;
        position: relative;
        left: 0;
        transition: all .4s;
    }

    .wrapper.out {
        left: 252px;
    }

    .side-collapse {
        top: 0;
        bottom: 0;
        left: 0;
        width: 252px;
        position: fixed;
        overflow: hidden;
        /*transition:width .4s;*/
        background-color: #6b960b;
        transition: left .4s;
        padding-left: 0;
        padding-right: 0;
    }

    .wrapper2 .side-collapse {
        background: #b48a33;
    }

    .side-collapse.in {
        width: 0;
        transition: all 1s;
    }

}

/*** 1200px ***/
@media screen and (min-width: 1200px) {
    .wrapper2 .home-about{
        max-width: 1000px;
        height:400px
    }
    .hotline {
        margin-top: 6px;
    }
    .sidebar .affix {
        width: 315px;
    }
    .youtube-channel {
        width: 85%;
    }
    .main-footer2 .youtube-channel{
        width:100%
    }
    .home-blog .content-blog a.title {
        min-height: 50px;
    }
    .wrapper2 header .header {
        /*padding-left: 15%;*/
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
    }

    .sidebar-1 .list-group-item {
        padding: 10px 8px;
    }

    .top-header .top-menu {
        padding-left: 15px;
        padding-right: 15px;
    }

    .box-utilities .box h2 {
        font-size: 16px;
    }

    .box-utilities .box p {
        margin-top: 3px;
    }

    .container {
        width: 1100px;
    }

    .amount_search {
        right: 5px;
    }

    .hotline span {
        font-size: 16px;
        font-family: "Roboto Condensed", sans-serif;
    }

    .hotline i {
        margin-right: 10px;
        background: #fff;
    }

    .box-utilities {
        margin-top: 10px;
    }

    .main-content-1 > .main-item section {
        background: #fff;
    }

    .main-title {
        background: #e9ebee;
    }

    .main-title:after {
        display: none;
    }

    .main-title > .title-heading:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        background: #003770;
        width: 5px;
        height: 40px;
    }

    .main-footer .footer-info p {
        margin: 0 0 5px;
    }

    .main-footer .footer-info p.title, .main-footer .footer-newsletter p.title, .main-footer .footer-social p.title {
        font-size: 23px;
    }

    .before-footer input {
        width: 20%;
    }

    .active-content > .container {
        width: 50%;
        margin: 50px auto;
        padding: 50px;
    }

    .main-footer > .container {
        padding-left: 0;
        padding-right: 0;
    }

    .cus-feedback {
        margin-top: 15px;
    }

    .main-menu .menu-wrap > li > a, .main-menu .menu-wrap .current-menu a {
        padding: 8px 15px;
        font-size: 14px;
    }

    .main-menu .menu-wrap a.logo{
        padding-top: 13px !important;
    }

    .sidebar .media-left {
        padding-left: 10px;
    }

    .main-item .item .item-content {
        padding-left: 10px;
        padding-right: 5px;
    }

    .newsletter {
        padding-top: 6%;
    }
    .wrapper2 .main-footer {
        /*padding: 1% 3% !important;*/
        padding: 10px 3% !important;
        height: 80px;
        overflow: hidden;
    }
    .wrapper1 .header .logo{
        margin-bottom: 10px;
    }
    .home-video-relation-box {
        width: 28%;
    }
}

@media screen and (min-width: 1600px) {
    .main-menu .menu-wrap a.logo {
        padding-top: 10px !important;
        width: 85%;
    }
    .wrapper2 .home-service .box-item{
        height: 520px;
    }
    .wrapper2 .home-service .box-item .show-desc{
height: 400px;
    }
    .slideshow .item p.desc {
        font-size: 3em;
    }
    .container-fluid {
        /*width: 1366px;*/
        margin: 0 auto;
    }
    .wrapper1 header {
        width: 1366px !important;
        margin: 0 auto;
    }
    .wrapper2 header {
        width: 100% !important;
    }

    .wrapper1 .slideshow, .wrapper2 .slideshow, .wrapper2 .home-product, .wrapper2 .home-contact, .wrapper2 .home-contact-form{
        width: 100%
    }

    /*.container-wrap {*/
        /*padding: 0*/
    /*}*/

    .sidebar .affix {
        right: 6%;
        width: 345px;
    }
    .wrapper2 .home-partner,.wrapper2 .home-product {
        margin-top: 30px
    }
    .wrapper2 .home-about .content-left img {
        width: 100%;
    }
    /*.wrapper2 .main-footer {*/
        /*padding: 1% !important;*/
    /*}*/
    .home-feedback {
        width: 100%;
        margin-top: 30px;
    }

    .home-feedback .row{
        width: 1366px;
        margin: 0 auto;
    }

    .wrapper1 .header .hotline {
        margin-top: 20px;
    }

    .wrapper1 .home-process {
        width: 100%;
        margin-top: 3%;
    }

    .wrapper1 .home-process .row{
        width: 1366px;
        margin: 0 auto;
    }

    .wrapper1 .home-contact {
        width: 100%;
    }

    .wrapper1 .home-contact .row {
        width: 1366px;
        margin: 0 auto;
    }
    .youtube-channel {
        width: 67%;
    }
    .wrapper1 .home-contact .contact-form {
        width: 72%
    }
    .wrapper1 .breadcrumb{
        width: 100%;
    }
    .wrapper1 .ibread .breadcrumb {
        width: 1366px;
        margin: 0 auto;
    }
    .main-content {
        margin-top: 20px;
    }

    .home-video > .row {
        margin: 0 auto;
        width: 1366px;
    }

    .home-video-relation img {
        width: 27%;
        padding-bottom: 5px;
    }

    .header .logo img {
        width: 60px;
        margin-top: 5px;
    }

    .wrapper1 header.affix {
        margin: 0 auto;
    }

    .wrapper1 header.affix .header > .row{
        margin: 0 auto;
        width: 1366px
    }
	.wrapper2 .home-partsv{
		padding-top: 3%
	}
}

/*@media screen and (min-width: 1601px) {*/
    /*.sidebar .affix {*/
        /*position: relative !important;*/
    /*}*/
    /*.wrapper2 header .header {*/
        /*padding-left: 29%;*/
    /*}*/
/*}*/

@media screen and (min-width: 2000px) {
    .sidebar .affix {
        width: 470px;
        right: 3%;
    }
.home-service .box-item .show-desc{
height: 75px;
}
}