body{
	background-image: url(../img/nhatrang1.jpg);
	height: 100%;
 	width: 100%;
    background-attachment: fixed;
 	background-size: 100% 100%;
 	border:5px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.nav-item{
	background-color: #efe1e3;
	border:1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #efe1e3;
    padding-left: 2px;
    padding-right: 2px;
}
.container, .container-fluid{
	padding: 10px 10px;
}
.sanpham{
	border:1px solid black;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 400px;
    width: 360px;
    background-color: #cdf2e7;
    opacity: 0.9;
}
#sanpham{
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    padding-top: 5px;
    padding-left: 5px;
}

.body{
	margin: center;
}
.big{
 	height: 250px;
 	width: 300px;
 	padding-top: 2px;
 	padding-bottom: 2px;
 	padding-left: 2px;
 }
 .ttsp{
 	margin: center;
 	padding-top: 5px;
 	color: black;
 }
 .bottom {
    height: 50px;
    background-color:#f5f4eb;
    padding-bottom:  1px;
    padding-top:  6px;
    border:1px solid black;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.bghead{
	height: 650px;
 	width: 100%;
 	background-size: 100% 100%;
}
.logo {
	color:#191919;
	border:1px solid black;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#divtt{
 background-color: #003333;
}

